#if ($request.getParameter("pg").equals("1"))
<p>
    <b>Kom til saken!</b><br />
    Sesam er en norsk s&#248;kemotor som hjelper deg &#229; finne akkurat det du vil ha, og ikke alt mulig annet.
</p>
<p>
    Med Sesam finner du fram til:<br />
    <ul>
        <li>Nettsider i Norge og verden med Sesams&#248;k</li>
        <li>Avisnyheter helt tilbake til 1983, med nyhetss&#248;k</li>
        <li>Kontaktinformasjon for bedrifter med bedriftss&#248;k</li>
        <li>Kontaktinformasjon for personer med persons&#248;k</li>
        <li>Leksikonoppslag fra Wikipedia</li>
        <li>Bilder med bildes&#248;k</li>
        <li>V&#230;rvarsler</li>
        <li>TV-program</li>
    </ul>
</p>
<p>
    Innholdet er valgt ut og satt sammen p&#229; bakgrunn av hva vi tror brukerne &#248;nsker seg.  Vi som jobber i Sesam er avanserte internettbrukere og har bygget tjenesten basert p&#229; v&#229;r egen erfaring. Sesam slutter ikke med det du ser i dag, men utvikles ettersom vi f&#229;r innspill og ideer til forbedring og nyutvikling av funksjonalitet og innhold. Vi har store ambisjoner, s&#229; vi h&#229;per at brukere og annons&#248;rer f&#248;lger med videre!
</p>
<p>
    <b>Kilder i Sesam</b><br />
    Sesam er delt inn i flere deler, eller innholdskilder. S&#248;k fra forsiden og knappen &#34;Sesams&#248;k&#34; s&#248;ker i alle kilder samtidig og presenterer norske nett-treff  ”beriket” med treff i andre, relevante kilder. Du kan alltid bruke venstre marg til &#229; navigere deg videre til spesielle typer treff.
</p>
<p>
    <a href="?c=d&amp;help=true&amp;pg=11&amp;q=">Les mer om de ulike typer berikelser og spesialiserte s&#248;k du kan gj&#248;re p&#229; Sesam.</a>
</p>

<p>
    <b>Teknologi</b><br />
    Sesam er utviklet sammen med Fast Search & Transfer, som representerer s&#248;keteknologi i verdenstoppen. Fast har ogs&#229; viktig erfaring fra da de selv lagde s&#248;kemotoren AlltheWeb. Fast er av analyseselskapet Gartner nylig k&#229;ret til &#229; verdens beste selskap innen s&#248;kemotorteknologi.
</p>
<p>
    Innholdet i Sesam vil v&#230;re ferskere enn andre tjenester i markedet, fordi vi sitter n&#230;rmere de norske kildene og har en spesiell relasjon til norsk nyhetsinnhold. Vi konsentrerer oss om Norge, hvor vi skal v&#230;re best, og Sesam er derfor ute og leser innhold p&#229; norske nettsider hele tiden.
</p>
<p>
    <b>Ansvarlig utgiver</b><br />
    Sesam er en s&#248;ketjeneste fra Schibsted S&#248;k AS, og kom f&#248;rste gang ut i november 2005.
</p>
<p>
    <b>Postadresse:</b><br />
    Schibsted S&#248;k AS<br />
    Apotekergaten 10<br />
    Postboks 277 Sentrum<br />
    0103 Oslo<br />
</p>
<p>
    <b>Bes&#248;ksadresse:</b>&nbsp;Apotekergata 10, 0180 Oslo<br />
    <b>Telefon:</b>&nbsp;23 35 55 30<br />
    <b>Telefax:</b>&nbsp;23 35 55 49
</p>
<p>
    <b>Administrerende direkt&#248;r</b>&nbsp;er Mikal Rohde
</p>
<p>
    <b>Kontakt</b><br />
    Sesam tar gjerne i mot innspill, kommentarer og sp&#248;rsm&#229;l, enten du er bruker, annons&#248;r eller interessert av en annen grunn. Sesam kan kontaktes p&#229;
    <a href="mailto:info@sesam.no">info@sesam.no</a>
</p>

<p>
    <b>Tips om nettside</b><br/>
    Sesam oppdateres fortl&#248;pende med nye nettsider. Dersom du savner noe, kan du tipse Sesam i feltet under. Sesam forbeholder seg retten til &#229; vurdere tipsene som kommer inn.
</p>

<p>
    <form method="POST" action="http://admin.sesam.no/urltips/UrlTipsFeedback">
        <input type="text" value="http://" name="url" size="40"/>  <input type="submit" value="Send tips til Sesam"/>
    </form>
</p>
<p>
    <b>Annonsere på Sesam?</b><br />
    Informasjon om annonsemuligheter kan du lese mer om på siden <a href="?c=d&amp;ads_help=true&amp;q=">Bli annons&#248;r</a>

</p>


#elseif($request.getParameter("pg").equals("2"))

        <p>Sesam har følgende stillinger ledig:</p>
        <p>
            <b>Controller</b><br/>
            Stillingen vil være sentral i å bygge opp støttefunksjoner for ledelsen i et nystartet selskap.<br/>
            For fullstendig stillingsannonse klikk <a href="http://www.finn.no/finn/job/object/;pdc=1131006526881?finnkode=6326670&amp;sid=6alWvVMY1526874&amp;pos=1&amp;tot=1">her</a>
        </p>

        <p>
            <b>Salgskonsuleneter</b><br/>
            Vi søker Norges mest sultne Annonseselgere til Sesam.no.<br/>
            For fullstendig stillingsannonse klikk <a href="http://www.finn.no/finn/job/object/;pdc=1130936510964?finnkode=6351758&amp;sid=6aZ9yDP9z510948&amp;pos=2&amp;tot=58">her</a>
        </p>

#end