<p>
    P&#229; Sesam n&#229;r du fram til m&#229;lrettede bes&#248;kende og kunder. Sesambrukere vil bli vist annonser for dine produkter og tjenester som er midt i blinken for det de aktivt leter etter.
</p>
<p>
    Sesam tilbyr flere typer annonsering:
</p>
<p>
    <b>PPC/ Pay Per Click / Pris per klikk</b><br />
    Din annonse vises n&#229;r brukeren s&#248;ker etter noe som harmonerer med dine s&#248;keord/s&#248;kefraser. Du betaler bare n&#229;r noen klikker p&#229; annonsen din. Med denne annonseringsformen er det enkelt &#229; kontrollere utgifter til annonsering, og brukeren er p&#229; aktivt s&#248;k etter varer/tjenester din bedrift kan tilby. Rangeringen p&#229; annonsen bestemmes av budpris. Den som byr mest for s&#248;keordet/s&#248;kefrasen, f&#229;r sin annonse eksponert &#248;verst.
</p>
<p>
    Overture:<br />
    Sesam er en del av annonsenettverket Overture. Det betyr at dine annonser ogs&#229; blir vist p&#229; MSN Norge, Yahoo, AltaVista og ABC S&#248;k.
</p>
<p>
    <b>Katalogannonsering - fast pris</b><br />
    S&#248;keord og prioritering:<br />
    Du velger selv hvilke s&#248;keord eller s&#248;kefraser du vil at bedriften din skal vises p&#229; gjennom en gitt tidsperiode. Et redaksjonelt team hos Sesam vil hjelpe deg med &#229; finne relevante s&#248;keord.
</p>
<p>
    <b>Informasjonsside og hjemmeside:</b>
    Du kan velge &#229; legge ut ytterligere informasjon om ditt firma som for eksempel e-postadresser, lenke til hjemmeside, faksnummer og kort informasjon om din bedrift.
</p>
<p>
    &#216;nsker du &#229; endre opplysninger p&#229; Sesam, bruk tilbakemeldingsskjemaet p&#229; bedriftens side i Bedrifts&#248;k.
</p>
<p>
    For mer informasjon om annonsering, ta kontakt p&#229; e-post <a href="mailto:annonser@sesam.no">annonser@sesam.no</a>
</p>
