#if ($request.getParameter("pg").equals("1"))
    <p>
        Hvorfor skal din bedrift annonsere p&#229; Sesam.no?
    </p>
    <p>
        Sesam er en s&#248;ketjeneste hvor mange tusen personer daglig s&#248;ker etter varer og tjenester til firmaet eller privat. Disse personene er i s&#248;ke- og kj&#248;pemodus, og du kan p&#229;virke personer og firmaer til &#229; velge din bedrift som leverand&#248;r.
    </p>
    <p>
        For at bedriften din skal v&#230;re det naturlige valg hos forbrukeren, er det viktig at bedriften kommer til syne n&#229;r det blir foretatt s&#248;k p&#229; produktene eller tjenestene du tilbyr. Vi kan p&#229; en enkel m&#229;te gj&#248;re bedriften din synlig, kontakt oss s&#229; kan vi hjelpe deg med &#229; bli valgt som leverand&#248;r.
    </p>
    <p>
        Send en E-post til: <a href="mailto:annonse@sesam.no">annonse@sesam.no</a> , eller ring v&#229;r salgsavdeling direkte p&#229; telefon 23 05 97 00 for en hyggelig prat.
    </p>
    <p>
        Siden lanseringen 1. november har Sesam hatt jevn vekst og gode bes&#248;kstall. I f&#248;lge TNS Gallup sine m&#229;linger var det over 190 000 forskjellige mennesker som benyttet seg av v&#229;r tjeneste i l&#248;pet av andre uken i januar. Ved &#229; klikke p&#229; linken under vil du finne TNS Gallup sin ukestatistikk over de st&#248;rste nettstedene i Norge.
        <a href="http://www.tns-gallup.no/index.asp?type=tabelno_url&amp;did=185235&amp;sort=UV&amp;UgeSelect=200601&amp;Sort_ret=desc">TNS Metrix topplisten</a>
    </p>
    <p>
        <em>Sesam tilbyr flere typer annonsering:</em>
    </p>
    <p>
        <b>Sesam Bedriftss&#248;k</b><br />
        Sesams bedriftss&#248;ketjeneste lar brukerne s&#248;ke etter adresser og telefonnummer i samtlige norske bedrifter.
        Som annons&#248;r f&#229;r du muligheten til &#229; utvide din oppf&#248;ring i Sesam Bedriftss&#248;k med lenke til din hjemmeside, mer kontaktinformasjon, tekst og bilder. Dessuten kan du kj&#248;pe synlighet p&#229; flere relevante s&#248;keord, og h&#248;yere rangering i s&#248;keresultatet.
        Annonser i Sesam Bedriftss&#248;k kj&#248;pes for et helt &#229;r av gangen.
    </p>
    <p>
        <img src="$site.getImageDir()/info/adshelp_bedrift.jpg" alt="Bilde av Sesam bedriftss&#248;k" />
    </p>
    <p>
        <a href="?c=d&amp;ads_help=true&amp;pg=2&amp;q=">Les mer om annonsering med Sesam Bedriftss&#248;k</a>
    </p>
    <p>
        <b>PPC-annonsering (Pay Per Click)</b><br />
        Din annonse vises n&#229;r brukeren s&#248;ker etter noe som harmonerer med dine s&#248;keord/s&#248;kefraser. Du betaler bare n&#229;r noen klikker p&#229; annonsen din. Med denne annonseringsformen er det enkelt &#229; kontrollere utgifter til annonsering, og brukeren er p&#229; aktivt s&#248;k etter varer/tjenester din bedrift kan tilby. Rangeringen p&#229; annonsen bestemmes av budpris. Den som byr mest for s&#248;keordet/s&#248;kefrasen, f&#229;r sin annonse eksponert &#248;verst.
    </p>
    <p>
        <img src="$site.getImageDir()/info/adshelp_ppc.jpg" alt="Bilde av PPC-annonsering" />
    </p>
    <p>
        <a href="?c=d&amp;ads_help=true&amp;pg=3&amp;q=">Les mer om PPC-annonsering p&#229; Sesam</a>
    </p>
#elseif($request.getParameter("pg").equals("2"))
    <p>
        <b>Slik kan du bli synlig i Sesam Bedriftss&#248;k:</b><br />
        Sesam har gjort det enkelt &#229; v&#230;re annons&#248;r. V&#229;re kunder&#229;dgivere har fokus p&#229; gi deg som kunde oppmerksomhet og synlighet. Vi har fleksible l&#248;sninger som kan tilpasses til &#229; dekke akkurat din bedrifts behov.
    </p>
    <p>
        Nedenfor finner du en oversikt over v&#229;re produkter. Hvis du &#248;nsker gjennomgang, r&#229;d eller ytterligere informasjon, kontakter du en r&#229;dgiver p&#229; tlf 23 05 97 00 eller sende en e-post til annonser@sesam.no .
    </p>
    <p>
        <b>1. Sesams forside:</b><br />
        P&#229; forsiden av Sesam.no vises de tre &#248;verste treffene i et bedriftss&#248;k. Dette treffet kan v&#230;re resultat av s&#248;k p&#229; et bedriftsnavn, eller et s&#248;keord (se forklaring under).
    </p>
    <p>
        <img src="$site.getImageDir()/info/adshelp_bedrift.jpg" alt="Bilde av Sesam bedriftss&#248;k" />
    </p>
    <p>
        <em>Treff p&#229; S&#248;keord</em>
    </p>
    <ul>
        <li>Alle bedrifter i Norge er gratis oppf&#248;rt i v&#229;rt bedriftss&#248;k og er synlig p&#229; en del s&#248;keord som er tilknyttet den bransjen de er oppf&#248;rt under.</li>
        <li>Annons&#248;rer kan kj&#248;pe synlighet p&#229; s&#248;keord. Dette vil gi en h&#248;yere rangering ved s&#248;k p&#229; disse ordene enn bedrifter som er gratis oppf&#248;rt.</li>
        <li>Annons&#248;rene kan selv velge hvor h&#248;y rangering de &#248;nsker for hvert enkelt s&#248;keord</li>
        <li>Man kan kj&#248;pe fast plass p&#229; topp 3-rangeringen som vises p&#229; forsiden av Sesam.</li>
        <li>Annons&#248;rer kan ogs&#229; kj&#248;pe oppf&#248;ringer i flere bransjer enn den de er tildelt.</li>
    </ul>
    <p>
        <b>2. Resultatside Bedriftss&#248;k:</b><br />
        De tre &#248;verste bedriftene p&#229; resultatsiden er de samme som de tre annons&#248;rene som vises p&#229; forsiden av sesam.no.
    </p>
    <p>
        Etter dette listes andre bedrifter som har tilknytning til det aktuelle s&#248;keordet, sortert etter hvilken rangering de har kj&#248;pt for dette ordet.
    </p>
    <p>
        <img src="$site.getImageDir()/info/adshelp_resultatside.jpg" alt="Bedriftss&#248;k resultatside" />
    </p>
    <p>
        <em>Stedsnavn</em>
    </p>
    <ul>
        <li>Alle bedrifter er synlige ved s&#248;k p&#229; det stedsnavnet der de har sin registrerte adresse. Dette gjelder stedsnavn knyttet til fylke, kommune, bydel eller lokalt omr&#229;de.</li>
        <li>Annons&#248;rer kan i tillegg kj&#248;pe tilstedev&#230;relse p&#229; andre stedsnavn hvor de leverer tjenester. Disse bedriftene vises under listen alle annons&#248;rer, som velges i menyknappen &#34;bedrifter som leverer tjenester til dette omr&#229;det&#34;.</li>
    </ul>
    <p>
        Lenke til hjemmeside<br />
        Annons&#248;rer kan kj&#248;pe visning av url til sin hjemmeside som vises sammen med firmanavnet p&#229; resultatsiden.
    </p>
    <p>
        Infotekst<br />
        Annons&#248;rer kan kj&#248;pe en egen tekstlinje tilknyttet en eller flere bestemte s&#248;keord som vises p&#229; treffsiden ved s&#248;k p&#229; det aktuelle ordet.
    </p>
    <p>
        <img src="$site.getImageDir()/info/adshelp_infotekst.jpg" alt="Bedriftss&#248;k infotekst" />
    </p>
    <p>
        <em>3. Firmainfoside</em><br />
        Annons&#248;rer kan kj&#248;pe en firmainfoside med disse elementene:
    </p>
    <ul>
        <li>Logo (firmalogo, mesterlogo, sertifikater)</li>
        <li>Kontaktinformasjon (adresse/postadresse, tlf nr, faks, e-post, hjemmeside, org nr)</li>
        <li>Ta kontakt funksjon (mulighet for bruker &#229; ta kontakt med annons&#248;ren).</li>
        <li>Tekstfelt hvor man kan fortelle om firmaet.</li>
        <li>Bildefelt med inntil fem forskjellige bilder i rullerende visning.</li>
    </ul>
    <p>
        <img src="$site.getImageDir()/info/adshelp_infoside.jpg" alt="Bedriftss&#248;k infoside" />
    </p>
    <p>
        <b>Priseksempel</b><br />
        Sesam Bedriftss&#248;k opererer ikke med fastl&#229;ste pakker. Som annons&#248;r kan du betale for akkurat de elementene du har behov for, og kj&#248;pe prioritering p&#229; akkurat de s&#248;keordene som er viktige for deg. V&#229;re selgere vil hjelpe deg med &#229; sette sammen et produkt som er skreddersydd til dine behov.
    </p>
    <p>
        Som eksempel presenterer vi her to ulike pakkesammensetninger:
    </p>
    <p>
        <b>Pakke 1:</b>
    </p>
    <ul>
        <li>Lenke til hjemmeside</li>
        <li>Infotekst i s&#248;keresultatet</li>
        <li>Logo p&#229; firmainfosiden</li>
        <li>E-postadresse p&#229; firmainfosiden</li>
        <li>10 s&#248;keord med standard prioritering</li>
        <li>Pris: 4.240,- pr &#229;r</li>
    </ul>
    <p>
        <b>Pakke 2:</b>
    </p>
    <ul>
        <li>Lenke til hjemmeside</li>
        <li>Infotekst i s&#248;keresultatet</li>
        <li>Logo p&#229; firmainfosiden</li>
        <li>E-postadresse p&#229; firmainfosiden</li>
        <li>Tekst p&#229; firmainfosiden</li>
        <li>Bilder p&#229; firmainfosiden</li>
        <li>20 s&#248;keord med standard prioritering</li>
        <li>10 s&#248;keord med h&#248;y prioritering</li>
        <li>Pris: 12.990,- pr &#229;r</li>
    </ul>
    <p>
        Kontakt v&#229;r salgsavdeling p&#229; <a href="mailto:annonse@sesam.no">annonse@sesam.no</a> eller telefon 23 05 97 00 for et tilbud tilpasset dine behov.
    </p>
    <p>
        <b>Avtalevilk&#229;r</b>
    </p>
    <ul>
        <li>Den skriftlige salgskontrakten dokumenterer avtaleforholdet mellom Sesam.no og annons&#248;ren.</li>
        <li>Faktura sendes ikke til kunden f&#248;r skriftlig bekreftelse p&#229; kundens bestilling er mottatt. Avtalene er ett&#229;rige, uten automatisk fornyelse. Etter endt avtaleperiode vil alle v&#229;re kunder bli kontaktet av oss, og i samr&#229;d med v&#229;re kunder settes det opp en ny kontrakt for nye 12 m&#229;neder som signeres og returneres til Sesam.no</li>
        <li>Kunden er ansvarlig for at de opplysninger som er gitt samsvarer med undertegnet salgskontrakt .</li>
        <li>Annonseproduktene skal ikke inneholde tekst eller bilder som kan oppfattes som diskriminerende, injurierende eller pornografisk, eller p&#229; andre m&#229;ter er i strid med norsk lovgivning.</li>
        <li>S&#248;keord og infotekster skal v&#230;re relevante i forhold til de varer eller tjenester kunden tilbyr. Sesams redaksjonelle team har mulighet til &#229; overpr&#248;ve kundens &#248;nsker og selgers anbefalinger av s&#248;keord og annonsetekster, dersom de solgte s&#248;keordene etter det redaksjonelle teamets skj&#248;nn kan forringe tjenesten for brukeren, eller p&#229; andre m&#229;ter kan skade tjenestens kvalitet eller omd&#248;mme.</li>
        <li>Det er ikke tillatt &#229; kj&#248;pe andre bedrifters firmanavn eller beskyttede merkevarenavn som s&#248;keord.</li>
        <li>Det er bare personer/firmaer med offentlig godkjenning/autorisasjon som har tillatelse til &#229; annonsere under bransjer som krever dette. Det samme gjelder kj&#248;p av yrkestitler som s&#248;keord. Det gj&#248;res spesielt oppmerksom p&#229; at if&#248;lge Lov om mesterbrev i h&#229;ndverk og annen n&#230;ring (1986) er straffbart &#229; benytte mestertittel eller tilh&#248;rende logo for andre enn personer med gyldig mesterbrev.</li>
        <li>Sesam.no er ikke ansvarlig for innholdet i eksterne lenker.</li>
        <li>Sesam.no forbeholder seg retten til &#229; forandre bedriftss&#248;kets layout, innhold og struktur.</li>
        <li>Sesam.no er ikke ansvarlig for eventuelle tap brukerne m&#229;tte lide ved bruk av tjenesten.</li>
    </ul>
    <p>
        <b>Fokus p&#229; kvalitet</b><br />
        Synlighet<br />
        V&#229;r synlighet skaper synlige kunder. Dette krever at vi har en god tjeneste som vinner kunders oppmerksomhet og lojalitet. Gjennom selv &#229; v&#230;re synlig, &#248;ker sjansen for at v&#229;re kunder selv vinner kunder i sitt marked. Resultatet skaper gjensidig nytteverdi.
    </p>
    <p>
        Kvalitet og seri&#248;sitet<br />
        Sesam er opptatt av seri&#248;sitet og kvalitet. Vi &#248;nsker &#229; levere et godt produkt og jobber kontinuerlig med produktforbedringer og optimalisering av v&#229;r tjeneste. Ryddige rutiner rundt kontrakter og avtalevilk&#229;r er viktige for oss. Vi sender ikke faktura f&#248;r vi har f&#229;tt skriftlig bekreftelse p&#229; din bestilling. Avtalene er ett&#229;rige, uten automatisk fornyelse. Etter endt avtaleperiode vil alle v&#229;re kunder bli kontaktet av oss, og i samr&#229;d med deg som kunde settes det opp en ny kontrakt for nye 12 m&#229;neder som signeres og returneres til oss.
    </p>
    <p>
        Hvis du &#248;nsker gjennomgang, r&#229;d eller ytterligere informasjon, kontakter du en r&#229;dgiver p&#229; tlf 23 05 97 00 eller sende en e-post til <a href="mailto:annonser@sesam.no">annonser@sesam.no</a>.
    </p>
#elseif($request.getParameter("pg").equals("3"))
    <p>
        <b>PPC/ Pay Per Click / Pris per klikk</b><br />
        Din annonse vises n&#229;r brukeren s&#248;ker etter noe som harmonerer med dine s&#248;keord/s&#248;kefraser. Du betaler bare n&#229;r noen klikker p&#229; annonsen din. Med denne annonseringsformen er det enkelt &#229; kontrollere utgifter til annonsering, og brukeren er p&#229; aktivt s&#248;k etter varer/tjenester din bedrift kan tilby. Rangeringen p&#229; annonsen bestemmes av budpris. Den som byr mest for s&#248;keordet/s&#248;kefrasen, f&#229;r sin annonse eksponert &#248;verst.
    </p>
    <p>
        Overture:
        Sesam er en del av annonsenettverket Overture. Det betyr at dine annonser ogs&#229; blir vist p&#229; MSN Norge, Yahoo, AltaVista og ABC S&#248;k.
   </p>
   <p>
        Hvis du &#248;nsker gjennomgang, r&#229;d eller ytterligere informasjon, kontakter du en r&#229;dgiver p&#229; tlf 90 18 04 16 eller sende en e-post til <a href="mailto:annonser@sesam.no">annonser@sesam.no</a>.
   </p>
#end