<html>
	<head>
		<meta name="decorator" content="maindecorator">
	</head>
 
<body bgcolor="#eeeeff">

<content tag="spell-suggest">

#if($result.getSpellingSuggestions())

	Mente du
	#foreach($suggestion in $result.getSpellingSuggestions()) 
		<a href="?q=$suggestion">$suggestion</a>?
	#end
#end

</content>
</body>
</html>