<html>
	<head>
		<meta name="decorator" content="maindecorator">
	</head>

    <body bgcolor="#eeeeff">
        <content tag="moreover-enriched">
            <div class="enrichment">
                <a href="#">$result.getTotalDocumentsAvailable() Treff på <b>$result.query</b> i internasjonale nyheter</a>
                <ul>
                    #foreach( $item in $result.getMoreoverResults())
                    #if ($velocityCount <= 3)
                    <li><a href="$item.url">$item.title</a>
                    <span class="timestamp">
                        $item.getNewsSource(),
                        #if ($item.getDocumentAgeDays() == 1)
                            $item.getDocumentAgeDays() dag
                        #end
                        #if ($item.getDocumentAgeDays() > 1)
                            $item.getDocumentAgeDays() dager
                        #end
                        #if ($item.getDocumentAgeHours() == 1)
                            $item.getDocumentAgeHours() time
                        #end
                        #if ($item.getDocumentAgeHours() > 1)
                            $item.getDocumentAgeHours() timer
                        #end
                        #if ($item.getDocumentAgeHours() == 0)
                            #if ($item.getDocumentAgeDays() == 0)
                                #if ($item.getDocumentAgeMinutes == 1)
                                    $item.getDocumentAgeMinutes() minutt
                                #end
                                #if ($item.getDocumentAgeMinutes > 1)
                                    $item.getDocumentAgeMinutes() minutter
                                #end
                            #end
                        #end
                        gammel
                    </span>
                    </li>
                    #end
                    #end
                </ul>
            </div>
        </content>
    </body>
</html>
