<div id="footer_help">
    <div style="float:left;">
            <span class="copy">&copy;2005</span> &nbsp;&nbsp;
            <script type="text/javascript" language="JavaScript">
                if(navigator.appName.indexOf("Microsoft") >= 0){
                    document.write('<a href="javascript:;" onclick="this.style.behavior=\'url(#default#homepage)\';this.setHomePage(\'http://www.sesam.no/\');">Sett som startside</a> &nbsp;&nbsp;|&nbsp;&nbsp;');
                }
            </script>

            #if (!$request.getParameter("c").equals("y") && !$request.getParameter("c").equals("yip") && !$request.getParameter("c").equals("w") && !$request.getParameter("c").equals("wip") && !$request.getParameter("c").equals("p"))
                #if ($request.getParameter("smart").equals("true"))
                S&#248;k smart
                #else
                <a href="?c=d&amp;smart=true&amp;pg=1&amp;q=">S&#248;k smart</a>
                #end

                &nbsp;&nbsp;|&nbsp;&nbsp;
            #end

            #if ($request.getParameter("ads_help").equals("true"))
                Bli Annons&#248;r
            #else
                <a href="?c=d&amp;ads_help=true&amp;q=">Bli annons&#248;r</a>
            #end

            &nbsp;&nbsp;|&nbsp;&nbsp;

            #if ($request.getParameter("about").equals("true"))
                Om oss
            #else
                <a href="?c=d&amp;q=&amp;about=true&amp;pg=1">Om oss</a>
            #end
            &nbsp;&nbsp;|&nbsp;&nbsp;

            #if ($request.getParameter("help").equals("true"))
            Hjelp
            #else
            <a href="?c=d&amp;q=&amp;help=true&amp;pg=1">Hjelp</a>
            #end
    </div>
    #if ($currentTab.getKey() == "m")
        <div style="float:right;"><a href="http://www.retriever-info.com/" target="_blank"><img src="../images/retriever_logo.jpg" alt="Retriever"  /></a></div>
    #end
</div>
