<html>
<head>
    <meta name="decorator" content="maindecorator">
</head>

<body>

#if ($result.hitCount > 0)
    <content tag="globalSearchEnrichment">
        <table class="enrichment">
            <tr>
                <td colspan="2" class="title"><a href="?c=d&amp;q=$query&amp;s=g">$text.getMessage($locale, "hitsOnGlobal", $result.hitCount, $query)</a></td>
            </tr>
            <tr>
                <td valign="top" class="img">
                    <a href="?c=d&amp;q=$query&amp;s=g"><img src="../images/enrichment/world.jpg" alt="Internasjonale nettsider" /></a>
                </td>
                <td>
                    #foreach( $item in $result.results )
                        #if ($velocityCount <= 3)
                           <a href="$item.getField('url')">#if ($item.getField('title')) $item.getField('title') #else $item.getField('url') #end</a><br />
                        #end
                    #end
                </td>
            </tr>
        </table>
    </content>
#end

<content tag="sensis-count">$result.hitCount</content>

</body>
</html>