<html>
<head>
    <meta name="decorator" content="maindecorator" />
</head>

<body>

<content tag="global-nav">
    <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
        <tr>
            <td colspan="2" class="navbar_menu" id="navbar_menu_m">Netts&#248;k</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" /></td>
        </tr>
        <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=n&amp;q=$query&amp;n=no";'>
            <td class="nav_pad">
                <a href="?c=n&amp;q=$query&amp;n=no">Norske netts&#248;k</a>
            </td>
            <td class="nav_pad" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt="" /></td>
        </tr>
        <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=g&amp;q=$query";'>
            <td class="nav_pad">
                <a href="?c=g&amp;q=$query" style="text-decoration:none">Utenlandske netts&#248;k</a>
            </td>
            <td class="nav_pad" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt="" /></td>
        </tr>
    </table>
</content>


<content tag="search-bar">
    #searchBar()
</content>


<content tag="global-results">

    #set ($baseURL = "?c=$currentTab.getKey()&amp;q=$query")

    #if ($result.getQuerySuggestions().size() > 0)
        <div class="spelling_suggestion">
            <img src="../images/star.gif" align="middle" alt="star" />
            <span class="stavekontroll">
                $text.getMessage($locale, "didYouMean"):
                #foreach ($querySuggestion in $result.querySuggestions)
                    <em><a href="?c=$currentTab.getKey()&amp;q=$querySuggestion.query">$querySuggestion.displayQuery</a></em>
                    #if  ($velocityCount < $result.getQuerySuggestions().size())
                        eller
                    #end
                #end
                ?
            </span>
        </div>
    #end


    #if ($pager.numberOfResults > 0)
        <div class="search_result">

            #foreach( $item in $result.results )
            <p>
                <a href="$item.getField('url')" class="search_big_url">#if ($item.getField('title')) $item.getField('title') #else $item.getField('url', 80) #end</a><br />
                #if ($item.getField('body'))
                    <span class="search_summary">$!{item.getField('body')}</span>
                #end
                <span class="search_small_url">$item.getField('url', 80)</span>
            </p>
            #end
        </div>
        #else
        <div id="no_hits">
            #parse("no-hits.vm")
        </div>
    #end

</content>

<content tag="global_greybar">
    <table id="greybar_main" cellpadding="0" cellspacing="0" width="561">
        <tr>
            <td class="left">Internasjonale nettsider: $text.getMessage($locale, "numberFormat", $pager.numberOfResults) treff p&#229; <b>$queryHTMLEscaped</b></td>
            <td class="right">&nbsp;</td>
        </tr>
    </table>
</content>

<content tag="verbosePager">
    #parse("verbosePager.vm")
</content>

<content tag="feedback-form">
    #parse("feedbackForm.vm")
</content>
</body>
</html>