<html>
	<head>
		<meta name="decorator" content="maindecorator">
	</head>

    <body bgcolor="#eeeeff">

        #if ($result.hitCount > 0)
            <content tag="globalNewsEnrichment">
                <div class="enrichment">
                    <a href="#">$text.getMessage($locale, "hitsOnIntlNews", $result.hitCount, $query)</a>
                    <ul>
                        #foreach( $item in $result.results)
                            #if ($velocityCount <= 3)
                                <li><a href="$item.getField('url')">$item.getField('newstitle')</a>
                                <span class="timestamp">
                                    <span class="timestamp">$item.getField('newssource'), $item.getField('age')</span>
                                </span>
                                </li>
                            #end
                        #end
                    </ul>
                </div>
            </content>
        #end

    </body>
</html>
