#if($result)
<html>
	<head>
		<meta name="decorator" content="maindecorator">
	</head>
    <body bgcolor="#eeeeff">

        <content tag="global-counter">
            $result.getTotalDocumentsAvailable()
        </content>

    </body>
</html>
#end