#if ($request.getParameter("pg").equals("1"))
<p>Sesam er en s&#248;kemotor som s&#248;ker i nettsider i Norge og utlandet, nyheter, bedrifter, personer, bilder - og litt til.</p>
<p>Sesams&#248;k er det altomfattende s&#248;ket, som du finner fra forsiden <a href="http://www.sesam.no/">www.sesam.no</a> og via linken "Sesams&#248;k" uansett hvor du er p&#229; Sesam. Bruk Sesams&#248;k n&#229;r du leter etter norske og internasjonale nettsider.</p>
<p>P&#229; trefflisten p&#229; hoveddelen av siden trekker Sesam frem det som er mest relevant for deg fra kilder som personkatalog, bedriftskatalog og nyhetss&#248;k, sammen med treffene p&#229; nettsider.</p>
<p><b>Norske og internasjonale nettsider</b><br />
Treff p&#229; norske nettsider vises frem f&#248;rst. I noen tilfeller er beskrivelsen under treffene hentet fra den norske utgaven av <a href="http://www.dmoz.com/World/Norsk/">Open Directory Project</a>. Vil du ogs&#229; se treff p&#229; internasjonale nettsider, klikk p&#229; radioknappen "’Verden" og gj&#248;r et nytt s&#248;k</p>
<p>Til <a href="../">Sesams&#248;k</a></p>


#elseif ($request.getParameter("pg").equals("2"))
<p>N&#229;r du bruker Sesams&#248;k kommer du til alle treffene fra de andre kildene - bedriftss&#248;k, persons&#248;k, bildes&#248;k og nyhetss&#248;k - via lenkene &#248;verst i venstre marg.</p>
<p>Har du s&#248;kt i ett av s&#248;kene, for eksempel bedriftss&#248;k, kan du komme tilbake til webs&#248;ket og de andre s&#248;kene i Sesam ved &#229; bruke lenken "Sesams&#248;k" &#248;verst p&#229; siden eller &#248;verst til venstre.</p>
<p>Uansett hvor du er i Sesam kan du pr&#248;ve de samme s&#248;keordene i andre s&#248;kekolleksjoner ved &#229; velge fra linkene horisontalt &#248;verst p&#229; siden.</p>


#elseif ($request.getParameter("pg").equals("3"))
<p>Bruk ett eller flere ord n&#229;r du s&#248;ker. Sesams&#248;k behandler s&#248;keuttrykket som at alle ordene skal v&#230;re med i s&#248;ketreffene. Et godt r&#229;d er &#229; starte s&#229; enkelt og konkret som mulig. Bruk deskriptive, spesifikke ord som er vanlige innenfor emnet du er interessert i.</p>
<p>F&#229;r du veldig mange treff, og de f&#248;rste ikke er relevante for deg, tenk etter om du kan v&#230;re enda mer spesifikk i s&#248;keordene.</p>
<p>Hvis du f&#229;r for f&#229; eller ingen relevante treff, b&#248;r du pr&#248;ve synonymer, f&#230;rre ord eller mer generelle ord. Feilstavinger og s&#230;rskrivinger av sammensatte ord kan ogs&#229; virke.</p>
<p>Etter at du har s&#248;kt med Sesams&#248;k, kan du navigere deg videre og plukke ut treff i norske eller internasjonale nettsider, eller treff bare blant bedrifter, personer, nyheter eller bilder.</p>
<p><b>Pluss, minus og frase</b><br/>
Ser du etter ord i bestemt rekkef&#248;lge, bruk anf&#248;rselstegn rundt ordene. Du kan bruke + (pluss) for &#229; inkludere bestemt ord, - (minus) for &#229; ekskludere ett og * (asterisk) for &#229; s&#248;ke p&#229; alle ord som begynner p&#229; det du skriver f&#248;r *.</p>
<p>Hvis du bruker spesielle s&#248;keord som tv eller v&#230;r vil du blant s&#248;ketreffene f&#229; opp v&#230;rvarsel og TV-program.</p>
<p>Flere tips og en liste over mulige s&#248;keuttrykk finner du under <a href="?c=d&amp;q=&amp;smart=true&amp;pg=1">S&#248;ketips</a>.</p>


#elseif ($request.getParameter("pg").equals("4"))
<p>S&#248;ker du fra forsiden til Sesam s&#248;kes det i norske nettsider, og de andre kildene i Sesam - nyheter, personer, bedrifter og bilder.</p>
<p>Den gr&#229; linjen under s&#248;kefeltet oppsummerer hvor mange treff du har f&#229;tt p&#229; s&#248;keordene i norske nettsider. Til venstre for s&#248;kefeltet finner du antall treff i de andre kildene.</p>
<p>P&#229; trefflisten vises de mest relevante treffene &#248;verst. Flere treff finner du ved &#229; bla deg videre til flere treff ved hjelp av sidetallene og "Neste"-lenken nederst p&#229; siden.</p>
<p>P&#229; trefflisten og med lenkene i venstre marg kan du peile deg videre i s&#248;ket. Du kan for eksempel velge "Bedriftss&#248;k" og komme til treffene som passet s&#248;keuttrykket ditt bare innenfor bedrifter. Du kommer tilbake til alle treffene i hele Sesam ved &#229; velge Sesams&#248;k i &#248;vre linje eller venstre marg.</p>
<p>Forskjellige ikoner brukes for &#229; vise hva slags informasjon du finner. Her finner du en <a href="?c=d&amp;q=&amp;help=true&amp;pg=11">oversikt over ikonene</a>.</p>
<p><b>Treff i ulike kilder</b><br/>
Sesam pr&#248;ver p&#229; "automagisk" vis &#229; forst&#229; hva du egentlig leter etter og presentere det godt synlig h&#248;yt opp p&#229; trefflisten. Du vil oppleve at du for eksempel f&#229;r en samling med treff i bedriftss&#248;k &#248;verst. Andre ganger vil treff i persons&#248;k ligge &#248;verst. Det er fordi Sesam fors&#248;ker &#229; forst&#229; hva slags informasjon du er ute etter.</p>
<p>Hvis du har brukt et typisk bedriftsord i s&#248;ket som <a href="?c=y&amp;q=fris%C3%B8r">fris&#248;r</a>, tror Sesam det er sannsynlig at du leter etter fris&#248;rer, det vil si bedrifter. Da vil treff fra bedriftss&#248;k vises fram h&#248;yt opp. Skriver du eksempelvis <a href="?c=w&amp;q=Anne%20Troms%C3%B8">Anne Troms&#248;</a> vil Sesam anta at du leter etter en person, og gi deg treff fra personkatalogen h&#248;yt opp.</p>


#elseif ($request.getParameter("pg").equals("5"))
<p>N&#229;r du s&#248;ker generelt i Sesam og f&#229;r mange treff, hjelper vi deg &#229; komme n&#230;rmere og n&#230;rmere det du leter etter.</p>
<p>Se i venstre marg: S&#248;ker du fra Sesams forside kan du velge &#229; g&#229; videre til treff bare blant nyheter, personer, bedrifter eller bilder.</p>
<p>De forskjellige s&#248;kene er markert med forskjellige ikoner og farger. Her ser du en <a href="?c=d&amp;q=&amp;help=true&amp;pg=11">oversikt over ikonene</a>.</p>
<p>N&#229;r du har valgt treff i ett av s&#248;kene, for eksempel persons&#248;k, fortsetter du &#229; bruke venstre marg til &#229; drille deg lenger ned i resultatene og f&#229; mer spesifikk informasjon. Hva som vises her varierer med hvilket s&#248;k du bruker. Har du for eksempel s&#248;kt p&#229; Anne og g&#229;r til persons&#248;k, kan du derfra sortere p&#229; sted, og p&#229; ulike etternavn og fornavn.</p>
<p><b>Snevrer inn s&#248;ket</b><br/>
N&#229;r du bruker linkene i venstre marg til &#229; navigere deg nedover, snevrer du inn det s&#248;ket du allerede har gjort. Treffene blir smalere og smalere. Hvis det blir s&#229; spesifikt at du ikke finner noen relevante resultater, b&#248;r du pr&#248;ve et nytt s&#248;k.</p>
<p>N&#229;r du navigerer deg til mer spesifikke treff, har du ogs&#229; muligheten til &#229; g&#229; tilbake til flere treff p&#229; mer generelt niv&#229;. Har du for eksempel valgt "Hordaland" under "sted" i bedriftss&#248;k, kan du klikke deg tilbake til "&lt;&lt; Fylker", det vil si treff i alle fylker. Du navigerer likevel alltid innenfor s&#248;keordene du brukte. Vil du ha et bredere resultat, pr&#248;v et nytt s&#248;k.</p>


#elseif ($request.getParameter("pg").equals("6"))
<p>Sesams nyhetss&#248;k lar deg finne dagens og g&#229;rsdagens nyheter innenfor bestemte temaer. Legg inn beskrivende ord, navn p&#229; personer, og lignende i s&#248;kefeltet. S&#248;ket henter opp artikler og nyheter med ordene du s&#248;ker p&#229;.</p>
<p>Relevante artikler i norske nettaviser kommer opp i trefflisten midt p&#229; siden. I venstre marg kan du velge andre typer treff, nemlig fra internasjonale nettaviser, og fra arkivet over norske papiraviser, hvis s&#248;ket har funnet noen artikler i disse kildene.</p>
<p>Nyheter som er opptil tre d&#248;gn gamle vises med hvor mange minutter, timer eller dager det er siden saken ble lagt ut p&#229; nett. Eldre nyheter vises med dato.</p>
<p><b>S&#248;k p&#229; nytt</b><br/>
N&#229;r du st&#229;r i nyhetss&#248;k vil det neste s&#248;ket du gj&#248;r i s&#248;kefeltet ogs&#229; gj&#248;res innenfor nyhetss&#248;k. Hvis du vil s&#248;ke nettsider eller annet, klikk Sesams&#248;k enten f&#248;r eller etter at du gj&#248;r ditt neste s&#248;k.</p>
<p><b>Nettaviser og papiraviser</b><br/>
&#34;Norske nyheter&#34; viser treff i aviser og tidsskrifter p&#229; nett. N&#229;r du klikker p&#229; en tittel, kommer du til originalen p&#229; avisens eller tidsskriftets nettsted. Arkivet inneholder nyheter og artikler fra de siste ca 2 &#229;r.</p>
<p>&#34;Papiraviser 1985-2005&#34; er treff fra deler av mediearkivet til <a href="http://www.retriever-info.com/sesam.php">Retriever</a>, ogs&#229; kjent som ATEKST. Du vil kunne finne artikler fra helt tilbake til 1984, men de aller fleste artiklene er fra 1985 og utover.</p>
<p>Sesam f&#229;r papiravisartikler fra Aftenposten, VG, Dagbladet, Bergens Tidene og Adresseavisen i kategoriene reiseliv og restauranter, idrett, helse og underholdning.</p>
<p>N&#229;r du klikker p&#229; en av titlene i trefflisten fra papiraviser, f&#229;r du opp hele artikkelen i fulltekst uten &#229; forlate Sesam.
<p><b>Sorter etter avis</b><br/>
Under "Velg nyheter i kilde" sorterer du ytterligere, etter avis. Hvilke aviser som listes opp her avhenger om du i menyen ovenfor ("Velg treff i") har valgt norske nyheter, internasjonale nyheter eller papiraviser.</p>
<p>Vi viser opptil seks nyhetskildene med flest artikler som passer med s&#248;ket ditt. Klikker du p&#229; "Vis alle" f&#229;r du opp alle nyhetskildene med treff.</p>
<p><b>Sorter p&#229; dato</b><br/>
Noen ganger er det fryktelig mange nyheter om samme tema eller person. Hvis du for eksempel er interessert i &#229; lese det som sto om H&#248;yres valgkamp foran stortingsvalget i 2005 og det er blitt en god stund siden, er det en god ide &#229; sortere p&#229; dato. Bruk knappen "sorter p&#229; dato" til dette. Deretter navigerer du fram og tilbake blant resultatene, som n&#229; er ordnet med de nyeste f&#248;rst: Klikk p&#229; tallene, eller lenkene "Neste" og "Forrige" nederst p&#229; siden.</p>
<p><b>Siste nytt?</b><br/>
<!-- Hvis du vil ha siste nytt, <font color="red">s&#248;k med tomt s&#248;kefelt</font>. Bruk deretter knappen "sorter p&#229; dato". Da f&#229;r du de ferskeste nyhetene &#248;verst.</p> -->
<p>Til Nyhetss&#248;k: <a href="?c=m&amp;nav_sources=contentsourcenavigator&amp;q=Jens+Stoltenberg">Jens Stoltenberg</a></p>


#elseif ($request.getParameter("pg").equals("7"))
<p>Sesams bedriftss&#248;k lar deg finne bedrifter innen alle bransjer i hele Norge. Skriv inn navnet p&#229; en bedrift, en bransje, tjeneste eller produkt, og gjerne sted hvis du vet det. Du kan ogs&#229; s&#248;ke med et telefonnummer eller adresse.</p>
<p>N&#229;r du gj&#248;r et s&#248;k i bedriftss&#248;k hentes de ti f&#248;rste treffene opp i hoveddelen p&#229; siden. Gateadresse og telefonnummer er oppgitt for hver bedrift. En bokstav viser til plasseringen av bedriften p&#229; kartet til h&#248;yre. Enkelte bedrifter har en ufullstendig gateadresse, og da kan de ikke vises p&#229; kartet.</p>
<p><b>S&#248;k p&#229; nytt</b><br/>
N&#229;r du st&#229;r i bedriftss&#248;k vil det neste s&#248;ket du gj&#248;r i s&#248;kefeltet ogs&#229; gj&#248;res innenfor bedriftss&#248;k. Hvis du vil s&#248;ke nettsider eller annet, klikk Sesams&#248;k enten f&#248;r eller etter at du gj&#248;r ditt neste s&#248;k.</p>
<p><b>Opplysninger om bedriften</b><br/>
Klikk p&#229; "infoside" ved siden av bedriftens navn, eller boblen med tilsvarende bokstav i kartet, og du f&#229;r opp flere opplysninger om bedriften og et detaljert kart som viser hvor den holder til.</p>
<p>For hver bedrift i bedriftskatalogen gis det f&#248;lgende opplysninger, n&#229;r de finnes:<br/>
<ul>
<li>Firmanavn</li>
<li>Bes&#248;ksadresse</li>
<li>Telefon</li>
<li>Telefaks</li>
<li>Organisasjonsnummer</li>
<li>Selskapsform</li>
<li>Plassering p&#229; kart</li>
</ul>
</p>
<!-- <p>Du kan bruke firmaopplysningene p&#229; flere m&#229;ter. De kan skrives ut, sendes i epost, sendes til deg selv eller en annen som SMS <font color="red">(gratis)</font> eller lagres i adresseboken i epostprogrammet ditt ("V-card"). </p> -->
<p><b>Sorter treffene</b><br/>
Hvis ikke bedriften du leter er med p&#229; f&#248;rste treffside, kan du gj&#248;re f&#248;lgende:<br/>
<ul>
<li>Bla deg videre til flere treff ved hjelp av sidetallene og "Neste"-lenken nederst p&#229; siden eller</li>
<li>Bruk venstre marg til &#229; f&#229; treff innenfor spesielle bransjer eller p&#229; bestemte geografiske steder.</li>
</ul>
</p>
<p><b>Sorter p&#229; sted</b><br/>
Under overskriften "Sted" i venstre marg kan du zoome deg ned til det omr&#229;det du er interessert i bedrifter fra, hvis det er relevant for deg. Du vil f&#248;rst se hvilke fylker det er passende bedrifter i. De som har flest ligger &#248;verst. Lenken "Vis alle" tar fram alle fylkene med treff, hvis det er flere enn seks. Under hvert fylke listes det opp kommuner, og under kommunene byer, bydeler og steder.</p>
<p>Du kan komme deg opp igjen p&#229; landsniv&#229; ved &#229; klikke p&#229; "&lt;&lt; Fylker", p&#229; fylkesniv&#229; ved &#229; klikke fylkets navn, og tilsvarende for kommuner, bydeler og mindre steder.</p>
<p><b>Sorter etter bransje</b><br/>
Under overskriften "Bransjer" lister Sesam opp bransjene som har flest firmaer som svarer til s&#248;ket du har gjort. Er det mange bransjer, f&#229;r du opp resten ved &#229; klikke lenken "Vis alle". Velger du en bransje fra listen, f&#229;r du opp firmaene i bransjen som passer til s&#248;ket du gjorde. Hvis du vil tilbake til alle bransjene s&#248;ket traff p&#229;, klikk "Alle bransjer".</p>
<p>Du kan bruke sorteringen p&#229; sted og bransje hver for seg eller sammen. Klikker du deg ned til Bergen under "Sted" og arkitekter under "Bransjer", vil du f&#229; fram en liste over arkitekter i Bergen, og bare det. Klikker du deg deretter opp igjen til Hordaland under "Sted", vil du f&#229; opp arkitekter i Hordaland.</p>
<p><b>Plassering p&#229; kart</b><br/>
Alle bedrifter som har en fullstendig adresse vises p&#229; kart. Du zoomer opp og ned i kartet ved &#229; bruke niv&#229;knappene fra 1 til 7 eller knappene "zoom inn" og "zoom ut".</p>
<p>Til Bedriftss&#248;k: <a href="?lang=en&amp;c=y&amp;q=R%C3%B8rlegger+Oslo">R&#248;rlegger Oslo</a></p>


#elseif ($request.getParameter("pg").equals("8"))
<p>Sesams persons&#248;k lar deg finne adresser og telefonnummer til personer i hele Norge. Skriv inn det du vet av navn, sted eller del av adresse. Sitter du med et telefonnummer du lurer p&#229; hvem eier, skriv det inn.</p>
<p>N&#229;r du gj&#248;r et s&#248;k i persons&#248;k hentes de ti f&#248;rste treffene opp i hoveddelen p&#229; siden. Navn, gateadresse og telefonnummer er oppgitt for hver av dem. En bokstav viser til plasseringen av personens adresse p&#229; kartet til h&#248;yre. Enkelte personer er oppf&#248;rt med en ufullstendig gateadresse, og da kan de ikke vises p&#229; kartet.</p>
<p><b>S&#248;k p&#229; nytt</b><br/>
N&#229;r du st&#229;r i persons&#248;k vil det neste s&#248;ket du gj&#248;r i s&#248;kefeltet ogs&#229; gj&#248;res innenfor persons&#248;k. Hvis du vil s&#248;ke nettsider eller annet, klikk Sesams&#248;k enten f&#248;r eller etter at du gj&#248;r ditt neste s&#248;k.</p>
<p><b>Opplysninger om personen</b><br/>
Klikk p&#229; "infoside" ved siden av personens navn, eller boblen med tilsvarende bokstav i kartet, og du f&#229;r opp en side som viser opplysningene om personen og et detaljert kart over adressen.</p>
<!-- <p>Du kan bruke opplysningene om personen p&#229; flere m&#229;ter. De kan skrives ut, sendes i epost, sendes til deg selv eller en annen som SMS <font color="red">(gratis)</font> eller lagres i adresseboken i epostprogrammet ditt ("V-card").</p> -->
<p><b>Sorter treffene</b><br/>
Hvis ikke personen du leter er med p&#229; f&#248;rste treffside, kan du gj&#248;re f&#248;lgende:<br/>
<ul>
    <li>Bla deg videre til flere treff ved hjelp av sidetallene og "Neste"-lenken nederst p&#229; siden eller</li>
    <li>Bruk venstre marg til &#229; velge personer med et bestemt fornavn, etternavn, eller p&#229; bestemte geografiske steder.</li>
</ul></p>
<p><b>Sorter p&#229; sted</b><br/>
Under overskriften "Sted" i venstre marg kan du zoome deg ned til det omr&#229;det du vet eller tror personen bor i. Du vil f&#248;rst se hvilke fylker det bor personer som passer til s&#248;ket ditt i. De som har flest ligger &#248;verst. Lenken "Vis alle" tar fram alle fylkene med treff, hvis det er flere enn seks. Under hvert fylke listes det opp kommuner, og under kommunene byer, bydeler og steder.</p>
<p>Du kan komme deg opp igjen p&#229; landsniv&#229; ved &#229; klikke p&#229; "&gt;&gt; Fylker", og p&#229; fylkesniv&#229; ved &#229; klikke fylkets navn, og tilsvarende for kommuner, bydeler og mindre steder.</p>
<p><b>Sorter etter fornavn</b><br/>
Under overskriften "Fornavn" lister Sesam opp forskjellige fornavn som passer til s&#248;ket ditt. Har du s&#248;kt p&#229; <a href="?c=w&amp;q=Hansen%20Oslo">Hansen Oslo</a>, vil du f&#229; mange forskjellige forslag her. N&#229;r det er mange fornavn, f&#229;r du opp resten ved &#229; klikke lenken "Vis alle". Velger du et navn fra listen, f&#229;r du opp en eller flere personer med navnet. Hvis du vil tilbake til alle fornavnene s&#248;ket traff p&#229;, klikk deg tilbake med "&gt;&gt; Alle fornavn".</p>
<p>Du kan bruke sorteringen p&#229; sted, fornavn og etternavn hver for seg eller sammen. Har du s&#248;kt p&#229; Jan Johansen, klikket deg ned til Fredrikstad under sted, Jan Erik under fornavn og Johansen under etternavn, vil du f&#229; fram en liste over de som har Jan Erik og Johansen i navnet og bor i Fredrikstad. Klikker du deg deretter opp igjen til &#216;stfold, vil du f&#229; opp personer som har Jan Erik og Johansen i navnet, og som har adresse i &#216;stfold.</p>
<p><b>Usikker p&#229; stavingen av navnet?</b><br/>
S&#248;ket h&#229;ndterer flere stavem&#229;ter og dobbeltnavn, s&#229; hvis du s&#248;ker med fornavnet <a href="?c=w&amp;q=Kathrine">Kathrine</a>, vil du ogs&#229; f&#229; treff p&#229; blant annet Cathrine, Katrine og Anne-Cathrine. Med <a href="?c=w&amp;q=Hansen">Hansen</a> vil du ogs&#229; f&#229; treff p&#229; Hanssen.</p>
<p><b>Plassering p&#229; kart</b><br/>
Alle personer som har en fullstendig adresse vises p&#229; kart. Du zoomer opp og ned i kartet ved &#229; bruke niv&#229;knappene fra 1 til 7 eller knappene "zoom inn" og "zoom ut".</p>
<p>Til Persons&#248;k: <a href="?c=w&amp;q=Hansen%20Oslo">Hansen Oslo</a></p>


#elseif ($request.getParameter("pg").equals("9"))
<p>Sesams bildes&#248;k lar deg finne bilder p&#229; internett ved hjelp av <a href="http://www.picsearch.com">picsearch.com</a>. Legg inn beskrivende ord, navn p&#229; personer, og lignende. Du vil f&#229; treff p&#229; norske og internasjonale nettsider som har et bilde som passer til s&#248;keordene. Bildene kan v&#230;re fotografier, logoer, ikoner og grafikk som er lagt ut i et bildeformat.</p>
<p>Husk at bilder p&#229; internett ikke er til fri bruk bare fordi de er lagt ut p&#229; nettet og er s&#248;kbare p&#229; s&#248;ketjenester p&#229; Sesam. Hvis du vil bruke et bilde til noe, sp&#248;r eieren f&#248;rst.</p>
<p><font color="red">S&#248;ket har et innebygget filter mot st&#248;tende innhold. Sesam kan likevel ikke garantere at man ikke kan finne st&#248;tende bilder i bildes&#248;ket.</font></p>
<p><b>S&#248;k p&#229; nytt</b><br/>
N&#229;r du st&#229;r i bildes&#248;k vil det neste s&#248;ket du gj&#248;r i s&#248;kefeltet ogs&#229; gj&#248;res innenfor bildes&#248;k. Hvis du vil s&#248;ke nettsider eller annet, klikk Sesams&#248;k enten f&#248;r eller etter at du gj&#248;r ditt neste s&#248;k.</p>
<p>Til Bildes&#248;k: <a href="?c=p&amp;q=Opel%20Vectra">Opel Vectra</a></p>

#elseif ($request.getParameter("pg").equals("10"))
<p>Ved siden av hoveds&#248;kene i Sesam som webs&#248;k, nyhetss&#248;k, bedrifts-, person- og bildes&#248;k, har vi andre godbiter som vi plukker fram n&#229;r vi tror det er relevant for deg.</p>
<p><b>TV</b><br/>
Sesam viser en direkte lenke til dagens TV-program dersom du s&#248;ker p&#229; spesielle ord. Hvis du bruker ordet tv i s&#248;ket sikrer du at lenken til TV-program kommer &#248;verst p&#229; trefflisten. Du kan kombinere det med navnet p&#229; et tv-program som g&#229;r i dag, eksempel <a href="?c=d&amp;q=tv+kveldsnytt&amp;s=d">tv kveldsnytt</a>. Du ser med det samme tidspunkt og kanal for programmet, og kan klikke deg videre til dagens og neste dagers TV-program hos Dagbladet.</p>
<p><b>V&#230;r</b><br/>
Skriver du et norsk stedsnavn i s&#248;ket, er det sannsynlig at det finnes et v&#230;rvarsel for det. Hvis du i tillegg skriver v&#230;r i s&#248;ket, for eksempel <a href="?c=d&amp;q=v%C3%A6r%20troms%C3%B8">v&#230;r Troms&#248;</a>, vil Sesam hente opp en direkte lenke til v&#230;rvarselet for Troms&#248; &#248;verst p&#229; treffsiden. Lenken g&#229;r til VGs v&#230;rsider.</p>
<p><b>Leksikon</b><br/>
Vi lenker til artikler i det norske, dugnadsbaserte leksikonet Wikipedia dersom du s&#248;ker p&#229; noe Sesam tror det kan v&#230;re relevant med en leksikonartikkel om. Vil du sikre deg treff i leksikon legger du inn ordet leksikon i s&#248;keuttrykket, for eksempel <a href="?c=d&amp;q=leksikon+paris&amp;s=d">leksikon Paris</a></p>


#elseif ($request.getParameter("pg").equals("11"))
<p>N&#229;r du bruker Sesam vil du f&#229; treff i forskjellige typer kilder, og kan gj&#248;re spesialiserte s&#248;k. Nedenfor forklarer vi typer av treff og hvilke ikoner som viser til hva.</p>
<p><img src="../images/enrichment/sesam.jpg" align="left" style="padding-right: 4px;" /><b>Sesams&#248;k</b><br />Gir treff i norske nettsider. Et s&#248;k fra forsiden eller &#34;sesams&#248;k&#34; s&#248;ker samtidig i alle de andre kildene v&#229;re og trekker frem det som er mest relevant for deg sammen med nettresultatene.</p>
<p>Du kan ogs&#229; klikke p&#229; radioknappen &#34;Verden&#34;. Du vil da f&#229; treff kun fra internasjonale nettsider.</p>
<p>S&#248;ketreff i nettsider f&#229;r du ved &#229; bruke s&#248;kefeltet fra Sesams forside, og &#229; klikke p&#229; lenken &#34;Sesams&#248;k&#34; uansett hvor du er p&#229; Sesam.</p>
<p><img src="../images/enrichment/world.jpg" align="left" style="padding-right: 4px;" /><b>Internasjonale nettsider</b><br />Ikonet signaliserer relevante treff i internasjonale nettsider. Du kan ogs&#229; s&#248;ke direkte i internasjonale nettsider ved &#229; klikke p&#229; radioknappen "Verden" under s&#248;kefeltet.</p>
<p><img src="../images/enrichment/yp.jpg" align="left" style="padding-right: 4px;" /><b>Bedrifter</b><br /> Ikonet signaliserer relevante treff fra v&#229;r bedriftskatalog. Du kan ogs&#229; s&#248;ke direkte i bedrifter ved &#229; klikke deg inn p&#229; bedriftss&#248;k.</p>
<p>Bedriftss&#248;ket skal dekke alle bedrifter i Norge, og er utviklet med basis i Br&#248;nn&#248;ysundregistrene. Vi har laget bransjestrukturen og plassert bedriftene i passende kategorier.</p>
<p>For hver bedrift lister vi opp kontaktinformasjon og organisasjonsnummer. Har bedriften en fullstendig adresse, viser vi hvor den ligger p&#229; et kart.</p>
<p><img src="../images/enrichment/wp.jpg" align="left" style="padding-right: 4px;" /><b>Personer</b><br /> Ikonet signaliserer relevante treff fra v&#229;r telefonkatalog for privatpersoner. Du kan ogs&#229; s&#248;ke direkte i katalogen ved &#229; klikke deg inn p&#229; persons&#248;k.</p>
<p>Katalogen inneholder navn, telefonnummer og adresser til privatpersoner i Norge. Den er basert p&#229; opplysninger fra de forskjellige teleoperat&#248;rene, og er ment &#229; v&#230;re dekkende. Hvis du oppdager feil, b&#248;r du kontakte teleoperat&#248;ren din. V&#229;rt register vil deretter bli oppdatert automatisk.</p>
<p><img src="../images/enrichment/news.jpg" align="left" style="padding-right: 4px;" /><b>Nyheter</b><br />Ikonet signaliserer relevante treff i nyheter. Du kan ogs&#229; s&#248;ke direkte i ferske og arkiverte nyheter ved &#229; klikke deg inn p&#229; nyhetss&#248;k.</p>
<p>Nyhetss&#248;ket finner artikler og nyheter fra norske og internasjonale nyhetskilder, inkludert artikler som har st&#229;tt i norske papiraviser fra 1985 fram til dags dato. Det er Schibsted-eide Retriever Norge AS som tilgjengeliggj&#248;r nyheter fra norske og nordiske nettaviser samt <a href="?c=d&amp;q=&amp;help=true&amp;pg=6">deler av sitt papiravisarkiv</a> ATEKST. Moreover st&#229;r bak treffene i de internasjonale nyhetene.</p>
<p><img src="../images/enrichment/pic.jpg" align="left" style="padding-right: 4px;" /><b>Bilder</b><br />Ikonet signaliserer relevante treff i bilder. Du kan ogs&#229; s&#248;ke direkte i bilder ved &#229; klikke deg inn p&#229; bildes&#248;k.</p>
<p>Bildes&#248;ket er basert p&#229; crawling av internett p&#229; samme m&#229;te som nettsidene v&#229;re. Rettighetene til bildene ligger hos de som har publisert bildene, ikke hos Sesam. Bildes&#248;ket er internasjonalt, og har et innebygget filter mot st&#248;tende innhold.</p>
<p><img src="../images/enrichment/wiki.jpg" align="left" style="padding-right: 4px;" /><b>Leksikon</b><br />Ikonet signaliserer relevante treff fra det folkeskapte nettleksikonet Wikipedia.</p>
<p><img src="../images/enrichment/tv_icon.jpg" align="left" style="padding-right: 4px;" /><b>TV</b><br />Ikonet signaliserer relevante treff i dagens tv-program fra Universum AS. For mer utfyllende tv-program lenkes du til Dagbladets tv-guide.</p>
<p><img src="../images/enrichment/weather/weathericon_1.jpg" align="left" style="padding-right: 4px;" /><b>V&#230;r</b><br />Ikonet signaliserer relevante treff i v&#230;rvarslingen fra Storm Weather Center. For mer utfyllende v&#230;varsling, lenkes du videre til VG.</p>


#elseif ($request.getParameter("pg").equals("12"))
<p>Vi h&#229;per at du synes Sesam er nyttig for &#229; finne det meste du leter etter n&#229;r du er p&#229; internett! Hvis du har lyst til &#229; bruke Sesam som din faste startside, kan du klikke p&#229; linken Sett som startside. Det vil komme opp en liten dialogrute som sp&#248;r om du vil sette hjemmesiden til <a href="http://www.sesam.no/">http://www.sesam.no/</a>, som du i s&#229; fall m&#229; svare ja p&#229;. Da vil nettleseren &#229;pne seg med Sesam hver gang du bruker internett.</p>
<p><font color="red">Obs: Virker kun for Internet Explorer nettleseren</font></p>
#end
