<html>
	<head>
		<meta name="decorator" content="maindecorator">
	</head>

    <body bgcolor="#eeeeff">

        <h1>Infopage</h1>


        <content tag="infopage">
            #set ($company = $result.getCompaniesResults().get(0))
            #set ($env = $coordHelper.getEnvelope($company))
            #set ($zoomLevels = $coordHelper.getZoomLevels())

            <SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='../javascript/map.js'></SCRIPT>
            <SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='../javascript/mapicon.js'></SCRIPT>
            <SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='../javascript/layers.js'></SCRIPT>

            <script type="text/javascript" language="JavaScript">                
                ##intierer array bestående av objekt inneholdende company informasjon. 
                
                ##sjekker om det finnes koordinater for gitt objekt
                #if ($company.x == $coordHelper.getDefaultNoCoordString())  
                    var hasCoords = false;
                #else
                    var hasCoords = true;
                    var countZoomLevels = $coordHelper.getZoomCount();                
                    var arrZoomLevels = new Array();
                    var arrCompany = new Array();      
                    arrCompany[0] = new coordObj($company.x, $company.y, $company.companyId);

                    #foreach ($level in $zoomLevels)
                    #set ($index = $velocityCount - 1)
                    arrZoomLevels[$index] = $level;
                    #end

                    ##variable som hentes fra noen konfigurasjon   
                    var imgHeigth = $coordHelper.getImgHeigth();
                    var imgWidth = $coordHelper.getImgWidth();
                    var iconHeigth = $coordHelper.getIconPxSizeHeigth();
                    var iconWidth = $coordHelper.getIconPxSizeWidth();
                    var iconOffsetHeigth = $coordHelper.getIconOffsetHeigth();
                    var iconOffsetWidth = $coordHelper.getIconOffsetWidth();
                    var envFactor = $coordHelper.getEnvFactor();
                    var panfactor = $coordHelper.getPanFactor();
                    var zoomfactor = $coordHelper.getZoomFactor();
                    var imgMeterSize = $coordHelper.getImgMeterSize();//størrelse på kartbilde i meter     
                    var pixelsize = $coordHelper.getPixelsize();

                    ##current variable
                    var currentZoomLevel = $coordHelper.getDefaultZoom();           
                    var prevZoomLevel = currentZoomLevel;//initielt
                    var currentZoomScale = arrZoomLevels[currentZoomLevel-1];                   
                    var maxX = $env.maxX;
                    var minX = $env.minX;
                    var maxY = $env.maxY;
                    var minY = $env.minY;
                    var centerCoordX = $company.x;
                    var centerCoordY = $company.y;
                    var centerPixY = imgHeigth/2;
                    var centerPixX = imgWidth/2;
                    var dX = maxX - minX;
                    var dY = maxY - minY; 

                    ##var prevMaxX = maxX;
                    ##var prevMinX = minX;
                    ##var prevMaxY = maxY;
                    ##var prevMinY = minY;
                    var contextPath = "$contextPath";   
                #end
                
                //zoom box
                content = '<img name="zoomImageTop" src="../images/mapicon/pixel.gif" width=1 height=1>';
                createLayer("zoomBoxTop",xMapOffset,yMapOffset,"100%","100%",false,content);
                content = '<img name="zoomImageLeft" src="../images/mapicon/pixel.gif" width=1 height=1>';
                createLayer("zoomBoxLeft",xMapOffset,yMapOffset,"100%","100%",false,content);
                content = '<img name="zoomImageRight" src="../images/mapicon/pixel.gif" width=1 height=1>';
                createLayer("zoomBoxRight",xMapOffset,yMapOffset,"100%","100%",false,content);
                content = '<img name="zoomImageBottom" src="../images/mapicon/pixel.gif" width=1 height=1>';
                createLayer("zoomBoxBottom",xMapOffset,yMapOffset,"100%","100%",false,content);
                
                
                function checkCoord(){
                    return hasCoords;
                }
                
                function init(){     
                    if(hasCoords){
                        //må finne kartets posisjon i kartet.
                        //initializeEvents();
                        setImgMapOffset(document.getElementById("mapcontent"));
                        getUrl();
                        setInitZoomBarImg()
                    }
                }
            </script>
            
            <table id="company_infopage" class="page_margin_left">
                <tr>
                    <td valign="top">
                        <div id="branch_header" style="width: 420px"><h1>$company.getCompanyName()</h1></div>
                        <div id="company_data">
                            <ul id="tabs">
                                <li><a href="">Skriv ut</a></li>
                                <li><a href="">Send som SMS</a></li>
                                <li><a href="">Send som epost</a></li>
                                <li><a href="" class="last">Legg til i Outlook</a></li>
                            </ul>
                            <p>
                                Besøksadresse:<br />
                                $!{company.visitingAddress}#if ($company.visitingAddress && ($company.visitingZip || $company.visitingCity)),#end $!{company.visitingZip} $!{company.visitingCity}
                            </p>
                            #if ($company.anyPhoneNumber)
                                <p>
                                    Telefon: $company.anyPhoneNumber
                                </p>
                            #end
                            <p class="last">
                                <a href="#">Kontakt oss for å oppdatere informasjon</a>
                            </p>
                        </div>
                    </td>

                    ## start kart del
                    <td valign="top" width="379" >
                    	<table bgcolor="#eff0f4" border="0" cellspacing="0" cellpadding="0" width="379">
                    		<tr>
                                    <td width="8px" height="8px"><a href="javascript:if(checkCoord()){ pan('nw');}"><img src="../images/mapicon/panNW.jpg" width="8px" height="8px" alt="panorer"/></a></td>
                                    <td align="center" height="8px" width="$coordHelper.getImgWidth()px"><a href="javascript:if(checkCoord()){ pan('n');}"><img src="../images/mapicon/panN.jpg" height="8px" alt="panorer"/></a></td>
                                    <td width="8px" height="8px"><a href="javascript:if(checkCoord()){ pan('ne');}"><img src="../images/mapicon/panNE.jpg" width="8px" height="8px" alt="panorer"/></a></td>
                    		</tr>
                    		<tr>
                                    <td width="8px"><a href="javascript:if(checkCoord()){ pan('w');}"><img src="../images/mapicon/panW.jpg" width="8px" alt="panorer"/></a></td>
                                    <td width="$coordHelper.getImgWidth()px" height="$coordHelper.getImgHeigth()px" valign="top">
                                        <div id="mapcontent" style="POSITION: absolute; OVERFLOW: hidden; WIDTH: $coordHelper.getImgWidth()px; HEIGTH: $coordHelper.getImgHeigth()px;">   
                                            #if ($company.x == $coordHelper.getDefaultNoCoordString())
                                                 <img name="map" src="../images/mapicon/nomap.jpg" width="$coordHelper.getImgWidth()px" height="$coordHelper.getImgHeigth()px" border="0" alt="kart"/>
                                            #else
                                                 <img name="map" src="../images/mapicon/loading.gif" width="$coordHelper.getImgWidth()px" height="$coordHelper.getImgHeigth()px" border="0" alt="kart"/>
                                                 <img src="../images/mapicon/ballong.gif" border="0" id="icon_$company.companyId" width="$coordHelper.getIconPxSizeWidth()" heigth="$coordHelper.getIconPxSizeHeigth()" onmouseover="return setImage('info', 'highlite', this.id);" onmouseout="return setImage('info', 'normal', this.id);" alt="$company.getCompanyName()" onclick="location.href='http://www.aftenposten.no'" style="POSITION: absolute;TOP: $coordHelper.getMapCenterPxY()px;LEFT: $coordHelper.getMapCenterPxX()px;Z-INDEX: 100; CURSOR: pointer;"/>                                                                                            
                                            #end
                                            </div>
                                    </td>
                                    <td width="8px"><a href="javascript:if(checkCoord()){ pan('e');}"><img src="../images/mapicon/panE.jpg" width="8px" alt="panorer"/></a></td>
                                </tr>
                                <tr>
                                    <td width="8px" height="8px"><a href="javascript:if(checkCoord()){ pan('sw');}"><img src="../images/mapicon/panSW.jpg" width="8px" height="8px" alt="panorer"/></a></td>
                                    <td align="center" height="8px" width="$coordHelper.getImgWidth()px"><a href="javascript:if(checkCoord()){ pan('s');}"><img src="../images/mapicon/panS.jpg" height="8px" alt="panorer"/></a></td>
                                    <td width="8px" height="8px"><a href="javascript:if(checkCoord()){ pan('se');}"><img src="../images/mapicon/panSE.jpg" width="8px" height="8px" alt="panorer"/></a></td>
                    		</tr>                                
                                <tr>
                                    <td colspan="3" height="5">&nbsp</td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center" valign="center">
                                        <a href="javascript:if(checkCoord()){ zoomin('uselevel');}"><img src="../images/mapicon/zoomin_1.gif" height="25" width="25" alt="Zoom inn"/></a>
                                        <script type="text/javascript" language="JavaScript"> 
                                            if (hasCoords)
                                                document.writeln('<img src="" name="zoombar" height="43" width="166" alt="Zoom bar" usemap="#zoombarmap" border="0"/>');
                                            else 
                                                document.writeln('<img src="../images/mapicon/zoombar.jpg" name="zoombar" height="43" width="166" alt="Zoom bar" border="0"/>');
                                        </script>                                                                              
                                        <a href="javascript:if(checkCoord()){ zoomout('uselevel');}"><img src="../images/mapicon/zoomout_1.gif" height="25" width="25" alt="Zoom ut"/></a>                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="5">&nbsp</td>
                                </tr>
                         </table>
                     </td>
                     ## slutt kart del

               </tr>
            </table>
             <script type="text/javascript" language="JavaScript">   
                init();
             </script>
             <map id="zoombar_1" name="zoombarmap">
                    <area shape="rect"# "Målestokkniv&aring; 1"
                     coords="5,3,32,38" href="javascript:zoomlevel(1);" title="&#34;Zoom til målestokkniv&aring; 1&#34;" />
                    <area shape="rect"#"Målestokkniv&aring; 2"
                     coords="32,4,50,37" href="javascript:zoomlevel(2);" title="&#34;Zoom til målestokkniv&aring; 2&#34;" />
                    <area shape="rect"#"Målestokkniv&aring; 3"
                     coords="52,4,68,37" href="javascript: zoomlevel(3);" title="&#34;Zoom til målestokkniv&aring; 3&#34;" />
                    <area shape="rect"#"Målestokkniv&aring; 4"
                     coords="70,5,90,38" href="javascript: zoomlevel(4);" title="&#34;Zoom til målestokkniv&aring; 4&#34;" />
                    <area shape="rect"#"Målestokkniv&aring; 5"
                     coords="91,5,114,37" href="javascript:zoomlevel(5);" title="&#34;Zoom til målestokkniv&aring; 5&#34;" />
                    <area shape="rect"#"Målestokkniv&aring; 6"
                     coords="115,5,135,37" href="javascript:zoomlevel(6);" title="&#34;Zoom til målestokkniv&aring; 6&#34;" />
                    <area shape="rect"#"Målestokkniv&aring; 7"
                     coords="136,5,166,37" href="javascript:zoomlevel(7);" title="&#34;Zoom til målestokkniv&aring; 7&#34;" />
             </map>    
        </content>

     
                

    </body>
</html>
