<html>
	<head>
		<meta name="decorator" content="maindecorator">
	</head>

<body bgcolor="#eeeeff">

<h1>Infopage</h1>

#set ($company = $result.getCompaniesResults().get(0))

<content tag="infopage">
    $company.getCompanyName()
    <iframe src="$contextPath/map/?coords=$company.x,$company.y&amp;action=viewone" width="370" height="520"/>
</content>

</body>
</html>