<html>
<head>
    <meta name="decorator" content="maindecorator">
</head>

<body>
    <content tag="mathExpression">
        #foreach( $item in $result.results)
        <table class="enrichment">
                <tr>
                    <td>
                       <b>$item.getField('result')</b>
                    </td>
                </tr>
            </table>
        #end
    </content>
</body>
</html>

