<html>
	<head>
		<meta name="decorator" content="maindecorator" />
	</head>

    <body>

    #set ($previousNavigationParameters = "")
    #foreach ($previousNavigation in $result.searchCommand.getNavigatedValues().keySet())
        #foreach ($value in $result.searchCommand.getNavigatedValues().get($previousNavigation))
            #set ($previousNavigationParameters = "$!previousNavigationParameters&amp;$previousNavigation=$value")
        #end
    #end
    #set ($baseURL = "?c=m&amp;q=$query")

    <content tag="media-collection-nav">

        #if ($pager.numberOfResults > 0)
            <img src="../images/pix.gif" width="100%" height="1" class="dots" style="margin-top:30px;" alt="" /><br/>
            <div class="geo_header">Velg nyheter i kilde:</div>
            <img src="../images/pix.gif" width="100%" height="1" class="dots" alt="" /><br/>

            #navigatorInit('newspaperNames')
            #if ($request.getParameter("nav_newspaperNames"))
                <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
                    <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=m&amp;q=$query$!previousNavigationParameters$!otherNavigators";'>
                        <td class="nav_pad"><a href="?c=m&amp;q=$query$!previousNavigationParameters$!otherNavigators"><img src="../images/backArrow.gif" alt="" />Flere kilder</a></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt="" /></td>
                    </tr>
                </table>
            #end

            <div>
                <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
                    #foreach ($category in $result.getModifiers('newspaperNames'))
                        #if ($velocityCount == 7)
                            </table>

                            <div id="nav_element_1" style="display:none;">
                            <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
                        #end
                        <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href=document.getElementById("newspaperNames$velocityCount").href;'>
                            <td class="nav_pad">
                                #navigatorLink('newspaperNames' $velocityCount)
                            </td>
                            <td class="nav_pad" align="right">$text.getMessage($locale, "numberFormat", $category.count)</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt="" /></td>
                        </tr>
                    #end
                </table>
            </div>
            <div id="expand_1" class="expand" style="display: #if ($result.getModifiers('newspaperNames').size() > 6) block #else none #end ;"><b>+</b> <a href="javascript:;" onclick="javascript:document.getElementById('nav_element_1').style.display='block';document.getElementById('expand_1').style.display='none';document.getElementById('hide_1').style.display='block';">Vis alle</a></div>
            <div id="hide_1" class="expand" style="display:none;"><b>-</b> <a href="#" onclick="javascript:document.getElementById('nav_element_1').style.display='none';document.getElementById('expand_1').style.display='block';document.getElementById('hide_1').style.display='none';">Skjul</a></div>
            </div>
        #end
    </content>

    <content tag="search-bar">
        #searchBar()
    </content>

    <content tag="media-collection-results">

        #if ($request.getParameter("contentsource").equals("Norske nyheter"))
            #set ($typeofnews = "Norske nyheter:")
        #elseif ($request.getParameter("contentsource").equals("Mediearkivet"))
            #set ($typeofnews = "Papiraviser:")
        #elseif ($request.getParameter("contentsource").equals("Nordiske nyheter"))
            #set ($typeofnews = "Nordiske nyheter:")
        #elseif ($request.getParameter("contentsource").equals("Internasjonale nyheter"))
            #set ($typeofnews = "Utenlandske nyheter:")
        #else
            #set ($typeofnews = "Nyheter:")
        #end

            <table id="greybar_main" cellpadding="0" cellspacing="0" width="561">
                <tr>
                    <td class="left">$typeofnews $text.getMessage($locale, "numberFormat", $pager.numberOfResults)

                    treff
                    ## Hack
                    #if (!$query.trim().equals(""))
                        p&#229;
                    #end

                    <b>$queryHTMLEscaped</b></td>

                    <td class="right">

                    Sorter p&aring;: &nbsp;&nbsp;

                    #if($request.getParameter("userSortBy") && $request.getParameter("userSortBy") == "standard")
                        Relevans &nbsp;|&nbsp; <a href="?lang=$!request.getParFameter('lang')&amp;c=m&amp;nav_sources=contentsourcenavigator&amp;contentsource=$!request.getParameter('contentsource')&amp;q=$query&userSortBy=datetime&amp;offset=$!request.getParameter('offset')"> Dato </a>
                    #else
                        <a href="?lang=$!request.getParameter('lang')&amp;c=m&amp;nav_sources=contentsourcenavigator&amp;contentsource=$!request.getParameter('contentsource')&amp;q=$query&amp;offset=$!request.getParameter('offset')&amp;userSortBy=standard">Relevans</a> &nbsp;|&nbsp; Dato
                    #end
                    </td>
                </tr>
            </table>

        #if ($pager.numberOfResults > 0)
            <script type="text/javascript" language="JavaScript">
                function getElementsByClassName(classname) {
                   var my_array = document.getElementsByTagName("*");
                   var retvalue = new Array();
                   var i;
                   var j;
                   for (i=0,j=0;i<my_array.length;i++) {
                      var c = " " + my_array[i].className + " ";
                      if (c.indexOf(" " + classname + " ") != -1) retvalue[j++] = my_array[i];
                   }
                   return retvalue;
                }

                function swap_class(orgname, newname){
                    var divs = getElementsByClassName(orgname)
                    for(i=0; i < divs.length; i++){
                        divs[i].className = newname;
                    }
                }

                function media_open(flag, elex, bodyx, eley, frame){
                    if (flag.value == "open"){
                        document.getElementById(elex).style.display='block';
                        document.getElementById(bodyx).style.display='none';
                        document.getElementById(eley).style.display='none';
                        document.getElementById(frame).className='media_frame_null';
                        flag.value = "close";
                        swap_class('media_frame_hide', 'media_frame_null');
                    }else{
                        document.getElementById(elex).style.display='none';
                        document.getElementById(bodyx).style.display='block';
                        document.getElementById(eley).style.display='block';
                        document.getElementById(frame).className='media_frame';
                        flag.value = "open"
                        swap_class('media_frame_null', 'media_frame_hide');
                    }
                }
                function media_close(flag, elex, bodyx, eley, frame){
                    document.getElementById(elex).style.display='block';
                    document.getElementById(bodyx).style.display='none';
                    document.getElementById(eley).style.display='none';
                    document.getElementById(frame).className='media_frame_null';
                    flag.value = "close";
                    swap_class('media_frame_hide', 'media_frame_null');
                }

                function writeRetrieverLog(paper, flag) {
                    var http_request = false;
                    if (flag.value != "open"){
                        http_request = false;
                        url = "writeLog.do?paper=" + escape(paper);
                        if (window.XMLHttpRequest) { // Mozilla, Safari,...
                            http_request = new XMLHttpRequest();
                            if (http_request.overrideMimeType) {
                                http_request.overrideMimeType('text/xml');
                            }
                        } else if (window.ActiveXObject) { // IE
                            try {
                                http_request = new ActiveXObject("Msxml2.XMLHTTP");
                            } catch (e) {
                                try {
                                    http_request = new ActiveXObject("Microsoft.XMLHTTP");
                                } catch (e) {}
                            }
                        }
                        http_request.open('GET', url, false);
                        http_request.send(null);
                    }
                }
            </script>

            <div id="result_container">
            <div class="search_result">
                #foreach( $item in $result.results)
                    <p>
                        <!--
                        <font color="red">
                        Debug ContentSource: $item.getField('contentsource') <br>
                        Debug Datetime: $item.getField('docdatetime')<br>
                        </font>
                        -->
                        <div id="mediaframe_$velocityCount" class="media_frame_null">
                            #if ($item.getField('url'))
                            <a href="$item.getField('url')" class="search_big_url">$item.getField('newstitle')</a>
                            #else
                                #if ($item.getField('manorawbody'))
                                     #set ($newssource_param = $item.getField('newssource'))
                                    <span id="expander_$velocityCount"><a href="javascript:;" onclick="writeRetrieverLog('$newssource_param', document.mediaform_${velocityCount}.mediafield_${velocityCount}); media_open(document.mediaform_${velocityCount}.mediafield_${velocityCount}, 'search_summary_$velocityCount', 'manorawbody_$velocityCount', 'hider_$velocityCount', 'mediaframe_$velocityCount');" class="search_big_url" style="color: #206CCC;">$item.getField('newstitle')</a></span>
                                #else
                                    <span class="search_big_url">$item.getField('newstitle')</span>
                                #end
                            #end
                            <span class="timestamp">
                                #if ($item.getField('manorawbody'))
                                    $item.getField('newssource') papirutgave, $item.getField('age')
                                #else
                                    $item.getField('newssource'), $item.getField('age')
                                #end
                            </span>
                            <div class="search_summary" id="search_summary_$velocityCount">$!item.getField('newsbody')</div>
                            #if ($item.getField('manorawbody'))
                            <p><span id="hider_$velocityCount" class="media_frame_hide" style="display: none;">&nbsp;<a href="javascript:;" onclick="media_close(document.mediaform_${velocityCount}.mediafield_${velocityCount}, 'search_summary_$velocityCount', 'manorawbody_$velocityCount', 'hider_$velocityCount', 'mediaframe_$velocityCount');"><img src="../images/backArrow.gif" alt="back_arrow" />Skjul</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:window.print();">Skriv ut</a></span></p>
                            <p>
                                <form name="mediaform_$velocityCount"><input type="hidden" name="mediafield_$velocityCount" value="g" /></form>
                                <div id="manorawbody_$velocityCount" class="search_summary" style="display:none;">
                                    <h1>$item.getField('newstitle')</h1>
                                    <p><b>$item.getField('newsbodyteaser')</b></p>
                                    <p><font color="gray">$!item.getField('newsauthor') - $item.getField('newssource') papirutgave, $item.getField('age')</font></p>
                                    <p>$item.getField('manorawbody')</p>
                                    <p><span class="media_frame_hide"><a href="#" onclick="media_close(document.mediaform_${velocityCount}.mediafield_${velocityCount}, 'search_summary_$velocityCount', 'manorawbody_$velocityCount', 'hider_$velocityCount', 'mediaframe_$velocityCount');"><img src="../images/backArrow.gif" alt="back_arrow" />Skjul</a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="javascript:window.print();">Skriv ut</a></span></p>
                                </div>
                            </p>
                            #end
                        </div>
                    </p>
                #end
            </div>
            </div>
        #else
            #if (!$query.trim().equals(""))
                #parse("no-hits.vm")
            #end
        #end
    </content>

    <content tag="verbosePager">
        #parse("verbosePager.vm")
    </content>

    <content tag="feedback-form">
        #parse("feedbackForm.vm")
    </content>

    </body>
</html>