<div id="no_hits">
        #if($currentTab.getKey() == "d")
        <p>$text.getMessage($locale, "noHits", $query, 'sesams&#248;k')</p>
        <p>$text.getMessage($locale, "possibleReasons")</p>
        #end

        #if($currentTab.getKey() == "m")
        <p>$text.getMessage($locale, "noHits", $query, 'nyhetss&#248;k')</p>
        <p>$text.getMessage($locale, "possibleReasons")</p>
        <p>$text.getMessage($locale, "trySearchIn")</p>
        <p>
            <div class="col_list"><img src="../images/enrichment/sesam.jpg" align="middle" /> &nbsp;<a href="?c=d&amp;q=$query" onclick="return strep(this);">Sesams&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/yp.jpg" align="middle" /> &nbsp;<a href="?c=y&amp;q=$query" onclick="return strep(this);">Bedriftss&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/wp.jpg" align="middle" /> &nbsp;<a href="?c=w&amp;q=$query" onclick="return strep(this);">Persons&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/pic.jpg" align="middle" /> &nbsp;<a href="?c=p&amp;q=$query" onclick="return strep(this);">Bildes&#248;k</a></div>
        </p>
        #end

        #if($currentTab.getKey() == "y" || $currentTab.getKey() == "yip")
        <p>$text.getMessage($locale, "noHits", $query, 'bedriftss&#248;k')</p>
        <p>$text.getMessage($locale, "possibleReasons")</p>
        <p>$text.getMessage($locale, "trySearchIn")</p>
        <p>
            <div class="col_list"><img src="../images/enrichment/sesam.jpg" align="middle" /> &nbsp;<a href="?c=d&amp;q=$query" onclick="return strep(this);">Sesams&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/news.jpg" align="middle" /> &nbsp;<a href="?c=m&amp;q=$query" onclick="return strep(this);">Nyhetss&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/wp.jpg" align="middle" /> &nbsp;<a href="?c=w&amp;q=$query" onclick="return strep(this);">Persons&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/pic.jpg" align="middle" /> &nbsp;<a href="?c=p&amp;q=$query" onclick="return strep(this);">Bildes&#248;k</a></div>
        </p>
        #end

        #if($currentTab.getKey() == "w" || $currentTab.getKey() == "wip")
        <p>$text.getMessage($locale, "noHits", $query, 'persons&#248;k')</p>
        <p>$text.getMessage($locale, "possibleReasons")</p>
        <p>$text.getMessage($locale, "trySearchIn")</p>
        <p>
            <div class="col_list"><img src="../images/enrichment/sesam.jpg" align="middle" /> &nbsp;<a href="?c=d&amp;q=$query" onclick="return strep(this);">Sesams&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/news.jpg" align="middle" /> &nbsp;<a href="?c=m&amp;q=$query" onclick="return strep(this);">Nyhetss&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/yp.jpg" align="middle" /> &nbsp;<a href="?c=y&amp;q=$query" onclick="return strep(this);">Bedriftss&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/pic.jpg" align="middle" /> &nbsp;<a href="?c=p&amp;q=$query" onclick="return strep(this);">Bildes&#248;k</a></div>
        </p>
        #end

        #if($currentTab.getKey() == "p")
        <p>$text.getMessage($locale, "noHits", $query, 'bildes&#248;k')</p>
        <p>$text.getMessage($locale, "possibleReasons")</p>
        <p>$text.getMessage($locale, "trySearchIn")</p>
        <p>
            <div class="col_list"><img src="../images/enrichment/sesam.jpg" align="middle" /> &nbsp;<a href="?c=d&amp;q=$query" onclick="return strep(this);">Sesams&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/news.jpg" align="middle" /> &nbsp;<a href="?c=m&amp;q=$query" onclick="return strep(this);">Nyhetss&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/yp.jpg" align="middle" /> &nbsp;<a href="?c=y&amp;q=$query" onclick="return strep(this);">Bedriftss&#248;k</a></div>
            <div class="col_list"><img src="../images/enrichment/wp.jpg" align="middle" /> &nbsp;<a href="?c=w&amp;q=$query" onclick="return strep(this);">Persons&#248;k</a></div>
        </p>
        #end
</div>