<html>
<head>
    <meta name="decorator" content="maindecorator" />
</head>

<body>

<content tag="fast-results-nav">
#if ($request.getParameter("n") == "no")
    <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
        <tr>
            <td colspan="2" class="navbar_menu" id="navbar_menu_m">Netts&#248;k</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" /></td>
        </tr>
        <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=n&amp;q=$query&amp;n=no";'>
            <td class="nav_pad"><a href="?c=n&amp;q=$query&amp;n=no" style="text-decoration:none">Norske netts&#248;k</a></td>
            <td class="nav_pad" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt="" /></td>
        </tr>
        <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=g&amp;q=$query";'>
            <td class="nav_pad"><a href="?c=g&amp;q=$query">Utenlandske netts&#248;k</a></td>
            <td align="right" class="nav_pad">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt="" /></td>
        </tr>
    </table>
   #else
    <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
        <tr>
            <td colspan="2" class="navbar_menu" id="navbar_menu_m">Netts&#248;k</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" /></td>
        </tr>
        <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=n&amp;q=$query&amp;n=no";'>
            <td class="nav_pad"><a href="?c=n&amp;q=$query&amp;n=no">Norske netts&#248;k</a></td>
            <td class="nav_pad" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt="" /></td>
        </tr>
        <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=g&amp;q=$query";'>
            <td class="nav_pad"><a href="?c=g&amp;q=$query">Utenlandske netts&#248;k</a></td>
            <td class="nav_pad" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt=""></td>
        </tr>
    </table>
#*
    <div class="geo_element">
        <img src="../images/pix.gif" width="100%" height="1" class="dots" alt=""><br/>
        <div class="geo_header">
            Clusternavigator
        </div>
        <img src="../images/pix.gif" width="100%" height="1" class="dots" alt=""><br/>
        <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
            #foreach ($keyword in $result.sortedClusters)
                #if ($velocityCount < 10)
                    <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FFF';">
                        <td class="left_marg">
                            <a href="?$httpQueryString&amp;kw=%22$keyword.key%22">$keyword.key</a>
                        </td>
                        <td align="right"><img src="../images/clusterBar.gif" width="$keyword.getIntScore()" height="10" alt=""></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt=""></td>
                    </tr>
                #end
            #end
        </table>
    </div>
*#
   #end

</content>


<content tag="search-bar">
    #searchBar()
</content>


<content tag="fast-results">
        <table id="greybar_main" cellpadding="0" cellspacing="0" width="561">
            <tr>
                <td class="left">$text.getMessage($locale, "numberFormat", $pager.numberOfResults) treff p&#229; <b>$query $!request.getParameter("kw")</b></td>
                <td class="right">&nbsp;</td>
            </tr>
        </table>

        #set ($baseURL = "?c=$currentTab.getKey()&amp;q=$query")

        #if ($result.getQuerySuggestions().size() > 0)
            <div class="spelling_suggestion">
                <span class="stavekontroll"><img src="../images/star.gif" align="middle"/> $text.getMessage($locale, "didYouMean"):</span>
                #foreach ($querySuggestion in $result.querySuggestions)
                    <em><a href="?c=$currentTab.getKey()&amp;q=$querySuggestion.query">$querySuggestion.displayQuery</a></em>
                    #if  ($velocityCount < $result.getQuerySuggestions().size())
                        eller
                    #end
                #end
                ?
            </div>
        #end


        #if ($pager.numberOfResults > 0)
            <div class="search_result">

                #foreach( $item in $result.results )
                <p>
                    <a href="$item.getField('url')" class="search_big_url">#if ($item.getField('title')) $item.getField('title') #else $item.getField('url', 80) #end</a><br />
                    #if ($item.getField('body'))
                        <span class="search_summary">$!{item.getField('body')}</span><br />
                    #end
                    <a class="search_small_url" href="$item.getField('url')">$item.getField('url', 80)</a>
                </p>
                #end
            </div>

            #else
            <div id="no_hits">
                #parse("no-hits.vm")
            </div>
        #end

</content>


<content tag="verbosePager">
    #parse("verbosePager.vm")
</content>


<content tag="feedback-form">
    #parse("feedbackForm.vm")
</content>

</body>
</html>