<html>
<head>
    <meta name="decorator" content="maindecorator" />
</head>

<body>

    <content tag="ads">

        #if ($result.getResults().size() > 0)

            #if ($request.getParameter("ssr") == "di" || $request.getParameter("ssr") == "pr" || $request.getParameter("ssr") == "ds" || $request.getParameter("ssr") == "it" || $request.getParameter("ssr") == "im")
                <div id="ads_sitesearch">
                    #foreach ($item in $result.getResults())
                        <p>
                            <span class="header"><a href="$item.getField('clickURL')">$item.getField('title')</a></span><br />
                            <span class="ads_desc">$item.getField('description')</span><br />
                            <span class="sitehost">$item.getField('siteHost')</span>
                        </p>
                    #end
                </div>
            #else
                <div id="ads_header">Sponsede lenker:</div>
                <div id="ads">
                    #foreach ($item in $result.getResults())
                        <p>
                            <span class="header"><a href="$item.getField('clickURL')">$item.getField('title')</a></span><br />
                            <span class="ads_desc">$item.getField('description')</span><br />
                            <span class="sitehost">$item.getField('siteHost')</span>
                        </p>
                    #end
                </div>
            #end
        #end
    </content>

    <content tag="greybar_ad">
        #if ($result.getResults().size() > 0)
            Sponsede lenker
        #end
    </content>

</body>
</html>
