<html>
<head>
    <meta name="decorator" content="maindecorator" />
</head>

<body>
<h1>Pictures</h1>

<table>
    <tr>

<content tag="picture-nav">
    <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
        <tr>
            <td colspan="2" class="navbar_menu" id="navbar_menu_p">Bildes&#248;k</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" alt="" /></td>
        </tr>
        <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=d&amp;q=$query";'>
            <td class="nav_pad_icon">
                <img src="../images/nav_d.gif" class="nav_icon" align="left" alt="" />
                <a href="?c=d&amp;q=$query">Sesams&#248;k</a>
            </td>
            <td class="nav_pad" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" alt="" /></td>
        </tr>
    </table>
</content>


<content tag="search-bar">
    #searchBar()
</content>


<content tag="picture-results">
    #set ($baseURL = "?c=p&amp;q=$query")

        #if (!$query.trim().equals(""))
         <table id="greybar_main" cellpadding="0" cellspacing="0" width="561">
            <tr>
                <td class="left">Bildes&#248;k: $text.getMessage($locale, "numberFormat", $pager.numberOfResults) treff p&#229; <b>$queryHTMLEscaped</b></td>
                <td class="right">&nbsp;</td>
            </tr>
        </table>
        #end

        #if ($pager.numberOfResults > 0)
        ##$result.totalDocumentsAvailable hits

        <table id="pic_result" width="100%" cellspacing="10" cellpadding="0">
            #foreach ($item in $result.getResults())
            #if ($velocityCount == 1 || $velocityCount == 4 || $velocityCount == 7 || $velocityCount == 10)
            <tr>
            #end
                <td class="pic_frame">
                    <a href="$item.getField('page_url')"><img width="$item.getField('thumb_width')"
                                                              height="$item.getField('thumb_height')"
                                                              src="$item.getField('thumb_url')" alt="" /></a>
                    <div class="pic_info">
                    $item.getField('width') x $item.getField('height') &nbsp; $item.getField('filesize')kb
                    </div>
                </td>
            #if ($velocityCount == 3 || $velocityCount == 6 || $velocityCount == 9)
            </tr>
            #end
            #end
            </tr>
        </table>

        #else
            #if (!$query.trim().equals(""))
                #parse("no-hits.vm")
            #end
        #end

</content>


<content tag="ads">
    <div style="padding: 0px 0px 29px 20px;">
        <a href="http://www.picsearch.com/" target="_blank"><img src="../images/picsearch.gif" width="100" height="49" alt="" /></a>
    </div>
</content>


<content tag="verbosePager">
    #parse("verbosePager.vm")
</content>


<content tag="feedback-form">
    #parse("feedbackForm.vm")
</content>

    </tr>
</table>

</body>
</html>