<content tag="picSearchEnrichment">
<table class="enrichment">
    <tr>
        <td class="img">
            <img src="$site.getImageDir()/enrichment/pic.jpg" align="left" alt="Bilder" />
        </td>
        <td valign="top" class="search_big_url">
            <div class="pic_url"><a href="?c=p&amp;q=$query">$text.getMessage($locale, "hitsOnPics", $result.hitCount, $queryHTMLEscaped)</a></div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td valign="top">
            #foreach ($item in $result.getResults())
            <div class="enrich_pics"><a href="$item.getField('page_url')"><img width="$item.getField('thumb_width')" height="$item.getField('thumb_height')" src="$item.getField('thumb_url')"/></a></div>
            #end
        </td>
    </tr>
</table>
</content>