#if ($request.getParameter("pg") && $request.getParameter("pg")=="1")
    <p>
        <b>Frases&#248;k: " "</b><br />
        Hermetegn "" rundt ordene betyr at du s&#248;ker p&#229; en frase, det vil si ord i en bestemt rekkef&#248;lge.<br />
        <i>Eksempel:</i> <a href="?q=vaskemaskin &#34;best i test&#34;&amp;c=$currentTab.getKey()">vaskemaskin "best i test"</a>
    </p>
    <p>
        <b>Eller: ()</b><br />
        Hvis du &#248;nsker &#229; finne nettsider som inneholder enten ett ord eller et annet, bruk parentes () rundt.<br />
        <i>Eksempel:</i> <a href="?q=(sukkerbr&#248;d kakebunn)&amp;c=$currentTab.getKey()">(sukkerbr&#248;d kakebunn)</a>
    </p>
    <p>
        <b>Ekskludere ord: -</b><br />
        Et minustegn rett foran et ord betyr at ordet ikke skal forekomme i s&#248;ketreffet<br />
        <i>Eksempel:</i> <a href="?q=MC -sykkel&amp;c=$currentTab.getKey()">MC -sykkel</a>
    </p>
    <p>
        <b>Un&#248;dvendig med pluss: +</b><br />
        Sesam s&#248;ker som standard p&#229; nettsider som inneholder alle ord i s&#248;keuttrykket.
    </p>
    <p>
        <b>Trunkering: *</b><br />
        Hvis du vil finne sider som omtaler flere varianter av ord som begynner p&#229; det samme, bruk en asterisk (*) til slutt. Trunkering kan kun brukes til h&#248;yre i et s&#248;keord.<br />
        <i>Eksempel:</i> <a href="?q=overtids*&amp;c=$currentTab.getKey()">overtids*</a>
    </p>
#*            <p>
        <b>Automatisk flertall og entall</b><br />
        Sesam s&#248;ker automatisk opp entallsformer av flertallsord, og omvendt. Du trenger derfor ikke &#229; bruke trunkering (*) for &#229; sikre treff p&#229; flere b&#248;yninger av et substantiv.
    </p>
    <p>
        <b>Nettsted-s&#248;k</b><br />
        Bruker du site: etterfulgt av et domene, og deretter ett eller flere s&#248;keord, vil Sesam lete etter s&#248;keordene p&#229; nettsider bare innenfor dette domenet.<br />
        <i>Eksempel:</i> <a href="?q=site:aftenposten.no paris&amp;c=$currentTab.getKey()">site:aftenposten.no paris</a>
    </p>
    <p>
        <b>Spr&#229;k-s&#248;k</b><br />
        Skriver du spr&#229;k: etterfulgt av en av forkortelsene nedenfor s&#248;ker du kun p&#229; nettsider skrevet p&#229; spr&#229;ket.<br />
        bokm&#229;l: nb<br />
        nynorsk: nn<br />
        samisk: se<br />
        engelsk: en<br />
        svensk: sv<br />
        dansk: da<br />
        fransk: fr<br />
        spansk: es<br />
        tysk: de<br />
        italiensk: it<br />
        nederlandsk: nl<br />
        portugisisk: pt<br />
        <i>Eksempel:</i> <a href="?q=spr&#229;k:it a-ha&amp;c=$currentTab.getKey()">spr&#229;k:it a-ha</a>
    </p>
    <p>
        <b>S&#248;k fil av et bestemt format: filetype</b><br />
        Skriver du filtype: etterfulgt av en av forkortelsene nedenfor s&#248;ker du kun p&#229; dokumenter p&#229; internett som er lagt ut i dette formatet.<br />
        <i>Eksempel:</i> <a href="?q=statsbudsjettet filtype:pdf&amp;c=$currentTab.getKey()">statsbudsjettet filtype:pdf</a>
    </p>
*#
#elseif ($request.getParameter("pg") && $request.getParameter("pg")=="2")
    <p>
        Du kan bruke spesielle ord for &#229; trigge Sesam til &#229; gi deg bestemte typer informasjon og treff &#248;verst p&#229; resultatsiden.
    </p>
    <p>
        <b>V&#230;rvarsel:</b><br />
        V&#230;r &lt;sted&gt;<br />
        <i>Eksempel:</i> <a href="?q=v&#230;r troms&#248;&amp;c=$currentTab.getKey()">v&#230;r Troms&#248;</a>
    </p>
    <p>
        <b>Dagens TV-program:</b><br />
        TV &lt;program&gt;<br />
        <i>Eksempel:</i> <a href="?q=tv kveldsnytt&amp;c=$currentTab.getKey()">tv kveldsnytt</a>
    </p>
    <p>
        <b>Bilder av noe:</b><br />
        Bilder &lt;objekt&gt;<br />
        <i>Eksempel:</i> <a href="?q=bilde stetind&amp;c=$currentTab.getKey()">bilde stetind</a>
    </p>
    <p>
        <b>Nyheter om noe:</b><br />
        Nyheter &lt;sak&gt;<br />
        <i>Eksempel:</i> <a href="?q=nyheter gasskraft&amp;c=$currentTab.getKey()">nyheter gasskraft</a>
    </p>
#*            <p>
        <b>Kart over et sted:</b><br />
        Kart<br />
        <i>Eksempel:</i> <a href="?q=hvor er lom&amp;c=$currentTab.getKey()">hvor er Lom</a>
    </p>
*#
    <p>
        <b>Adresser og telefonnumre:</b><br />
        Tlf &lt;navn/adresse&gt;<br />
        <i>Eksempel:</i> <a href="?q=tlf Anne Hansen&amp;c=$currentTab.getKey()">tlf Anne Hansen</a>
    </p>
    <p>
        <b>Leksikonoppslag:</b><br />
        Fakta &lt;tema&gt;<br />
        <i>Eksempel:</i> <a href="?q=fakta fiolin&amp;c=$currentTab.getKey()">fakta fiolin</a>
    </p>
#*            <p>
        <b>B&#248;ker:</b><br />
        Bok<br />
        <i>Eksempel:</i> <a href="?q=bok av kj&#230;rstad&amp;c=$currentTab.getKey()">bok av Kj&#230;rstad</a>
    </p>
    <p>
        <b>N&#248;dnummer:</b><br />
        N&#248;d<br />
        N&#248;dnummer<br />
        N&#248;dhjelp<br />
        Redningssentral<br />
        112<br />
        Politi<br />
        Brann<br />
        Ambulanse<br />
        Sykebil<br />
        <i>Eksempel:</i> <a href="?q=brann&amp;c=$currentTab.getKey()">brann</a>
    </p>
*#
#elseif ($request.getParameter("pg") && $request.getParameter("pg")=="3")
    <p>
        <b>For mange treff?</b><br />
        Ofte vil du f&#229; veldig mange treff. Hvis ingen av de &#248;verste treffene er relevante treff for det du leter etter, er det mulig du har brukt for generelle s&#248;keord. Hvis du &#248;nsker &#229; finne informasjon om Volvo-modellen V70, er det lurt &#229; s&#248;ke p&#229; volvo v70 og ikke bare volvo.
    </p>
    <p>
        F&#229;r du veldig mange treff, og de f&#248;rste ikke er relevante, tenk etter om du kan v&#230;re mer spesifikk. Ofte hjelper det at du legger til et ord eller to i s&#248;keuttrykket.
    </p>
    <p>
        <b>Ingen relevante treff?</b><br />
        Hvis du ikke f&#229;r noen relevante treff, har du kanskje s&#248;kt for smalt. I noen tilfeller kan det selvf&#248;lgelig hende at det ikke er skrevet noe p&#229; internett om temaet du lurer p&#229;, men som oftest vil du finne noe hvis du pr&#248;ver noen andre ord.
    </p>
    <p>
        Pr&#248;v synonymer, f&#230;rre ord eller mer generelle ord. Sjekk at du har skrevet ordene riktig. Har du det, husk at feilstavinger forekommer, s&#229; pr&#248;v gjerne andre stavem&#229;ter og kanskje s&#230;rskrivninger av sammensatte ord.
    </p>
#end
