<p>
    Verkt&#248;ylinjen gir deg tilgang til Sesam uansett hvor du er p&#229; nettet<br />
    Last ned gratis. Det tar bare noen sekunder &#229; innstallere.
</p>
<p>
    <img src="../images/help/toolbar.gif" alt="toolbar bilde" />
</p>
<p>
    <table>
        <tr>
            <td><img src="../images/static/logo_ie.gif" alt="IE logo" /></td>
            <td valign="middle"><a href="http://www.smartad.biz/hosted/sesam/sesam.exe">Last ned Sesam verkt&#248;ylinje for Internet explorer</a></td>
        </tr>
        <tr>
            <td><img src="../images/static/logo_ff.gif" alt="Firefox logo" /></td>
            <td valign="middle"><a href="http://www.smartad.biz/hosted/sesam/cab1_ff/">Last ned Sesam verkt&#248;ylinje for Mozilla Firefox</a></td>
        </tr>
    </table>
</p>

