<html>
	<head>
	</head>

#set ($contentTag = "skipme")
#if ($result.hitCount > 0)
   #set ($contentTag = "tvEnrich")
#end


<body bgcolor="#eeeeff">
    <content tag="$contentTag">

   <table class="enrichment" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="2" class="title"><a href="http://www.dagbladet.no/#tv">P&aring; TV i dag </a></td>
            </tr>
            <tr>
                <td valign="top" class="img">
                    <img src="../images/enrichment/tv_icon.jpg" alt="TV" />
                </td>
                <td width="500">
                #foreach ( $item in $result.results )
                   $item.getField('title')
                   <span class="timestamp">Kl. $item.getField('hour')  $item.getField('channel')</span>
                    <br/>
                #end
                <a href="http://fredag.dagbladet.no/tv/">S&oslash;k i hele tv-programmet</a>
                </td>
            </tr>
        </table>
    </content>
</body>
</html>
