#set ($baseURL = "?c=${tab}&amp;q=$result.getQuery()$!{extra}")

#if ($result.getPager().getNumberOfPages() > 1)
    <tr><td class="text_align_center">Vis flere treff på $result.getQuery()
    #foreach ($page in [$result.getPager().getFirstVisiblePage()..$result.getPager().getLastVisiblePage()])

        ## First Itereation.
        #if ($velocityCount == 1)
            #if (!$result.getPager().isFirstPage())
                <a href="$baseURL&offset=$result.getPager().getOffsetOfPreviousPage()"><b>&lt;&lt;Forrige</b></a>
            #end
        #end

        #if ($page == $result.getPager().getCurrentPage())
            $page
        #else
            <a href="$baseURL&amp;offset=$result.getPager().getOffsetOfPage($page)">$page</a>
        #end

        ## Last iteration.
        #if ($page == ${result.getPager().getLastVisiblePage()})
            #if ($result.getPager().isLastPage())
                Neste&gt;&gt;
            #else
                <a href="$baseURL&amp;offset=$result.getPager().getOffsetOfNextPage()"><b>Neste&gt;&gt;</b></a>
            #end
        #end

    #end
    </td></tr>

#end