#set ($baseURL = "?q=$!query&c=$!currentTab.getKey()#allNavigators()$!previousNavigationParameters$!{sortBy}")

#if ($request.getParameter("s"))
    #set ($localOrGlobal = $request.getParameter("s"))
#end

## TODO MORE GENERIC WAY TO APPEND PARAMS ?

#if ($request.getParameter("s"))
#set ($localOrGlobal = $request.getParameter("s"))
#end
#if ($request.getParameter("contentsource"))
#set ($contentSource = $request.getParameter("contentsource"))
#end
#if ($request.getParameter("nav_sources"))
#set ($navSource = $request.getParameter("nav_sources"))
#end
#if ($request.getParameter("userSortBy"))
#set ($userSortBy = $request.getParameter("userSortBy"))
#end

#if ($navSource)
   #set ($baseURL = "${baseURL}&nav_sources=$navSource")
#end

#if ($request.getParameter("s"))
    #set ($baseURL = "${baseURL}&s=$localOrGlobal")
#end

#if ($contentSource)
    #set ($baseURL = "${baseURL}&contentsource=$contentSource")
#end


#if ($userSortBy)
    #set ($baseURL = "${baseURL}&userSortBy=$userSortBy")
#end






<div id="footer">

    #if ($pager && $pager.getNumberOfPages() > 1)
    <div style="margin: 20px 0px 10px 0px;">
        $text.getMessage($locale, "showMoreHits", $query)&nbsp;
        #foreach ($page in [$pager.getFirstVisiblePage()..$pager.getLastVisiblePage()])

            ## First Itereation.
            #if ($velocityCount == 1)
                #if (!$pager.isFirstPage())
                    &lt;&lt;&nbsp;<a href="$baseURL&amp;offset=$pager.getOffsetOfPreviousPage()">$text.getMessage($locale, "prev")</a>
                #end
            #end

        #if ($page == $pager.getCurrentPage())
            #if ($velocityCount == 1)
                &nbsp;&nbsp;&nbsp;$page
            #else
                &nbsp;&nbsp;&nbsp;$page
            #end
        #else
            #if ($velocityCount == 1)
                &nbsp;&nbsp;&nbsp;<a href="$baseURL&amp;offset=$pager.getOffsetOfPage($page)">$page</a>
            #else
                &nbsp;&nbsp;&nbsp;<a href="$baseURL&amp;offset=$pager.getOffsetOfPage($page)">$page</a>
            #end
        #end

        ## Last iteration.
        #if ($page == ${pager.getLastVisiblePage()})
            #if ($pager.isLastPage())
                &nbsp;&nbsp;&nbsp;Neste&nbsp;&gt;&gt;
            #else
                &nbsp;&nbsp;&nbsp;<a href="$baseURL&amp;offset=$pager.getOffsetOfNextPage()">$text.getMessage($locale, "next")</a>&nbsp;&gt;&gt;
            #end
        #end

        #end
    </div>

#else
    <br clear="both" /><br />
#end

    <form name="sf_bottom" action="">
    <input name="lang" value="en" type="hidden"/>
    <input name="c" value="$currentTab.getKey()" type="hidden"/>
        <div id="search_table">
        <table border="0" cellspacing="3" cellpadding="0">
            <tr>
                <td colspan="3"><img src="../images/pix.gif" width="1" height="5" /></td>
            </tr>
            <tr>
                <td width="400" valign="middle"><input type="text" name="q" value="$query" class="input_main" /></td>
                <td width="8">&nbsp;</td>
                #if ($currentTab.getKey() == "m")
                <td valign="middle"><input type="submit" value="" id="submit_button" class="submit_m" /></td>
                #elseif ($currentTab.getKey() == "y" || $currentTab.getKey() == "yip")
                <td valign="middle"><input type="submit" value="" id="submit_button" class="submit_y" /></td>
                #elseif ($currentTab.getKey() == "w" || $currentTab.getKey() == "wip")
                <td valign="middle"><input type="submit" value="" id="submit_button" class="submit_w" /></td>
                #elseif ($currentTab.getKey() == "p")
                <td valign="middle"><input type="submit" value="" id="submit_button" class="submit_p" /></td>
                #else
                <td valign="middle"><input type="submit" value="" id="submit_button" class="submit_d" /></td>
                #end
            </tr>
        </table>
        </div>
    </form>
</div>

#parse("footer.vm")
