<html>
<head>
</head>

<body>

<table>
    <tr>

    #set ($person = $result.results.get(0))
    #set ($env = $coordHelper.getEnvelope($person))
    #set ($zoomLevels = $coordHelper.getZoomLevels())



<content tag="infopage-nav">

</content>


<content tag="search-bar">
    #searchBar()
</content>


<content tag="infopage">

        <SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='../javascript/map.js'></SCRIPT>
        <SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='../javascript/mapicon.js'></SCRIPT>
        <SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='../javascript/layers.js'></SCRIPT>

        <script type="text/javascript" language="JavaScript">
            ##intierer array bestående av objekt inneholdende company informasjon.

            #if ($person.getField('xcoord') && $person.getField('ycoord'))
                var hasCoords = true;
                var countZoomLevels = $coordHelper.getZoomCount();
                var arrZoomLevels = new Array();
                var arrCompany = new Array();
                arrCompany[0] = new coordObj($person.getField('xcoord'), $person.getField('ycoord'), $person.getField('recordid'));

                #foreach ($level in $zoomLevels)
                #set ($index = $velocityCount - 1)
                arrZoomLevels[$index] = $level;
                #end

                ##variable som hentes fra noen konfigurasjon
                var imgHeigth = $coordHelper.getImgHeigth();
                var imgWidth = $coordHelper.getImgWidth();
                var iconHeigth = $coordHelper.getIconPxSizeHeigth();
                var iconWidth = $coordHelper.getIconPxSizeWidth();
                var iconOffsetHeigth = $coordHelper.getIconOffsetHeigth();
                var iconOffsetWidth = $coordHelper.getIconOffsetWidth();
                var iconOverlapOffsetHeigth = $coordHelper.getIconOverlapOffsetHeigth();
                var iconOverlapOffsetWidth = $coordHelper.getIconOverlapOffsetWidth();
                var envFactor = $coordHelper.getEnvFactor();
                var panfactor = $coordHelper.getPanFactor();
                var zoomfactor = $coordHelper.getZoomFactor();
                var imgMeterSize = $coordHelper.getImgMeterSize();//størrelse på kartbilde i meter
                var pixelSize = $coordHelper.getPixelsize();
                var defaultNoCoord = $coordHelper.getDefaultNoCoord();

                ##current variable
                var currentZoomLevel = $coordHelper.getDefaultZoom();
                var prevZoomLevel = currentZoomLevel;//initielt
                var currentZoomScale = arrZoomLevels[currentZoomLevel-1];
                var maxX = $env.maxX;
                var minX = $env.minX;
                var maxY = $env.maxY;
                var minY = $env.minY;
                var centerCoordX = $person.getField('xcoord');
                var centerCoordY = $person.getField('ycoord');
                var centerPixY = imgHeigth/2;
                var centerPixX = imgWidth/2;
                var dX = maxX - minX;
                var dY = maxY - minY;

                ##var prevMaxX = maxX;
                ##var prevMinX = minX;
                ##var prevMaxY = maxY;
                ##var prevMinY = minY;
                var contextPath = "$contextPath";
            #else
                var hasCoords = false;
            #end

            function checkCoord(){
                return hasCoords;
            }

            function init(){
                if(hasCoords){
                    setImgMapOffset(document.getElementById("mapcontent"));
                    getUrl();
                    setInitZoomBarImg()
                }
            }
        </script>

        <table id="greybar_main" cellpadding="0" cellspacing="0" width="758">
            <tr>
                <td class="left_yel"><b>$!person.getField('wpfornavn') $!person.getField('wpetternavn')</b></td>
                <td class="right_yel">&nbsp;</td>
            </tr>
        </table>

        <div id="info_submenu">
            <img src="../images/arrow.gif" width="3" height="11" alt="arrow" /> <a href="javascript:window.print();">$text.getMessage($locale, "print")</a> &nbsp;&nbsp;
            <img src="../images/arrow.gif" width="3" height="11" alt="arrow" /> <a href="https://sesam.no/tilbakemelding/authorize.action?userId=$person.getField('recordid')&amp;userId_x=$request.getParameter("personId_x")">Oppdater informasjon</a> &nbsp;
<!--
            <img src="../images/arrow.gif" width="3" height="11"/> <a href="">Oppdater informasjon</a> &nbsp;
            <img src="../images/arrow.gif" width="3" height="11"/> <a href="">$text.getMessage($locale, "sendSMS")</a> &nbsp;&nbsp;
            <img src="../images/arrow.gif" width="3" height="11"/> <a href="">$text.getMessage($locale, "sendEmail")</a> &nbsp;&nbsp;
            <img src="../images/arrow.gif" width="3" height="11"/> <a href="">Lagre V-card (adressekort)</a>
-->
        </div>
        <img src="../images/navLine.gif" width="758" height="1" alt="" />

        <div id="yellow_table">
                <div class="yellow_results">
                    <table border="0" cellspacing="0" cellpadding="0" id="info_list">
                        <tr>
                            <td valign="top">Navn</td>
                            <td valign="top" class="cellright"><b>$!person.getField('wpfornavn')#if ($person.getField('wpmellomnavn')) $person.getField('wpmellomnavn')#end $!person.getField('wpetternavn')</b></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="info_list_ul"><img src="../images/pix.gif" width="1" height="1" alt="" /></td>
                        </tr>
                        <tr>
                            <td valign="top">$text.getMessage($locale, "address")</td>
                            <td valign="top" class="cellright">$!{person.getField('wpadresse')}#if ($person.getField('wpadresse') && ($person.getField('ywpostnr') || $person.getField('ywpoststed'))),#end $!{person.getField('ywpostnr')} $!{person.getField('ywpoststed')}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="info_list_ul"><img src="../images/pix.gif" width="1" height="1" alt="" /></td>
                        </tr>
                        <tr>
                            <td valign="top">Telefon</td>
                            <td valign="top" class="cellright">
                                #foreach ($number in $person.getMultivaluedField('manyPhoneNumbers'))
                                  $number<br />
                                #end
                                #foreach ($number in $person.getMultivaluedField('manyMobilePhoneNumbers'))
                                  $number<br />
                                #end
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="info_list_ul"><img src="../images/pix.gif" width="1" height="1" alt="" /></td>
                        </tr>
                    </table>
                </div>

                <div class="mapcell">
                    	<table bgcolor="#F3F3F3" border="0" cellspacing="0" cellpadding="0" width="385">
                    		<tr>
                                    <td width="11" height="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('nw');}"><img src="../images/mapicon/panNW.jpg" width="11" height="11" alt="panorer" /></a></td>
                                    <td align="center" height="11" class="printhide" width="$coordHelper.getImgWidth()px"><a href="javascript:if(checkCoord()){ pan('n');}"><img src="../images/mapicon/panN.jpg" height="11" alt="panorer" /></a></td>
                                    <td width="11" height="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('ne');}"><img src="../images/mapicon/panNE.jpg" width="11" height="11" alt="panorer" /></a></td>
                    		</tr>
                    		<tr>
                                    <td width="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('w');}"><img src="../images/mapicon/panW.jpg" width="11" alt="panorer" /></a></td>
                                    <td width="$coordHelper.getImgWidth()px" height="$coordHelper.getImgHeigth()px" valign="top">
                                        <div id="mapcontent" style="POSITION: absolute; OVERFLOW: hidden; WIDTH: $coordHelper.getImgWidth()px; HEIGTH: $coordHelper.getImgHeigth()px;">
                                            #if ($person.getField('xcoord') && $person.getField('ycoord'))
                                                 <img name="map" src="../images/mapicon/loading.gif" width="$coordHelper.getImgWidth()px" height="$coordHelper.getImgHeigth()px" border="0" alt="" />
                                                 <img src="../images/mapicon/bubble.gif" border="0" id="icon_$person.getField('recordid')" width="$coordHelper.getIconPxSizeWidth()" heigth="$coordHelper.getIconPxSizeHeigth()" style="POSITION: absolute;TOP: $coordHelper.getMapCenterPxY()px;LEFT: $coordHelper.getMapCenterPxX()px;Z-INDEX: 100;" />
                                            #else
                                                <img name="map" src="../images/mapicon/nomap_new.jpg" width="$coordHelper.getImgWidth()px" height="$coordHelper.getImgHeigth()px" border="0" alt="" />
                                            #end
                                            </div>
                                    </td>
                                    <td width="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('e');}"><img src="../images/mapicon/panE.jpg" width="11" alt="panorer" /></a></td>
                                </tr>
                                <tr>
                                    <td width="11" height="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('sw');}"><img src="../images/mapicon/panSW.jpg" width="11" height="11" alt="panorer" /></a></td>
                                    <td align="center" height="11" class="printhide" width="$coordHelper.getImgWidth()px"><a href="javascript:if(checkCoord()){ pan('s');}"><img src="../images/mapicon/panS.jpg" height="11" alt="panorer" /></a></td>
                                    <td width="11" height="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('se');}"><img src="../images/mapicon/panSE.jpg" width="11" height="11" alt="panorer" /></a></td>
                    		    </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td colspan="3" height="5">&nbsp;</td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td colspan="3" align="center" valign="center" class="printhide">
                                        <a href="javascript:if(checkCoord()){ zoomout('uselevel');}"><img src="../images/mapicon/zoom_ut_knapp.jpg" height="22" width="64" alt="Zoom ut" /></a>
                                        &nbsp;
                                        <script type="text/javascript" language="JavaScript">
                                            if (hasCoords)
                                                document.writeln('<img src="../images/pix.gif" name="zoombar" height="21" width="169" alt="Zoom bar" usemap="#zoombarmap" border="0"/>');
                                            else
                                                document.writeln('<img src="../images/mapicon/map_nav.jpg" name="zoombar" height="21" width="169" alt="Zoom bar" border="0"/>');
                                        </script>
                                        &nbsp;
                                        <a href="javascript:if(checkCoord()){ zoomin('uselevel');}"><img src="../images/mapicon/zoom_inn_knapp.jpg" height="22" width="68" alt="Zoom inn"/></a>
                                    </td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td colspan="3" height="5" style="color: #939393;" align="center" class="printhide">Land <img src="../images/pix.gif" width="28" height="1" /> Kommune <img src="../images/pix.gif" width="28" height="1" /> Gate</td>
                                </tr>
                         </table>
                 </div>
            </div>

        <br clear="both"/>

</content>


<content tag="map-script">
    #if ($person.getField('xcoord') && $person.getField('ycoord'))
        #include("mapScript.vm")
    #end
</content>


<content tag="verbosePager">
    #parse("verbosePager.vm")
</content>


    </tr>
</table>

</body>
</html>
