<html>
<head>
    <meta name="decorator" content="maindecorator">
</head>

<body bgcolor="#eeeeff">

#if ($result.hitCount > 0)
    <content tag="yellowPagesEnrichment">

        <table class="enrichment">
            #if ($result.hitCount != 1)
            <tr>
                <td colspan="2" class="title"><a href="?c=y&amp;q=$query">$text.getMessage($locale, "hitsOnYellowEnrichment", $result.hitCount, $query)</a></td>
            </tr>
            #else
            <tr>
                #foreach( $item in $result.results )
                <td colspan="2" class="title"><a href="?c=yip&amp;q=$query&amp;companyId=$item.getField('recordid')&amp;companyId_x=$hashGenerator.generateMD5($item.getField('recordid'))">$text.getMessage($locale, "oneHitOnYellowEnrichment")</a></td>
                #end
            </tr>
            #end
            <tr>
                <td valign="top" class="img">
                    #if ($result.results.size() == 1) #foreach( $item in $result.results ) <a href="?c=yip&amp;q=$query&amp;companyId=$item.getField('recordid')&amp;companyId_x=$hashGenerator.generateMD5($item.getField('recordid'))"> #end #else <a href="?c=y&amp;q=$query"> #end
                    <img src="../images/enrichment/yp.jpg" alt="Bedrifter" /></a>
                </td>
                <td>
                    <table cellspacing="0">
                    #foreach( $item in $result.results )
                        #if ($velocityCount <= 3)
                            <tr>
                                <td><a href="?c=yip&amp;q=$query&amp;companyId=$item.getField('recordid')&amp;companyId_x=$hashGenerator.generateMD5($item.getField('recordid'))">$item.getField('ypnavn2')</a></td>
                                <td class="enrich_space"></td>
                                <td>#if ($item.getField('ypadresse')) $!item.getField('ypadresse'), #end $!item.getField('ywpostnr') $!item.getField('ywpoststed')</td>
                                #if ($item.getField('ypanynumber'))
                                    <td class="enrich_space"></td>
                                    <td valign="top" style="white-space: nowrap;">$item.getField('ypanynumber')</td>
                                #end
                            </tr>
                        #end
                    #end
                    </table>
                </td>
            </tr>
        </table>

    </content>
#end

</body>
</html>

