<html>
<head>
    <meta name="decorator" content="maindecorator" />
</head>

<body>

<table>
    <tr>

    #set ($baseURL = "?c=y&amp;q=$query")

    #set ($previousNavigationParameters = "")
    #foreach ($previousNavigation in $result.searchCommand.getNavigatedValues().keySet())
    #foreach ($value in $result.searchCommand.getNavigatedValues().get($previousNavigation))
    #set ($previousNavigationParameters = "$!previousNavigationParameters&amp;$previousNavigation=$value")
    #end
    #end

    #if ($request.getParameter('sortBy'))
    #set ($sortBy = "&amp;sortBy=$request.getParameter('sortBy')")
    #end

    #set ($company = $result.results)
    #set ($env = $coordHelper.getEnvelope($company))
    #set ($hasCoords = $coordHelper.checkCoords($company))
    #if($hasCoords)
        #set ($zoomlevel = $coordHelper.getZoomLevel($env))
        #set ($zoomscale = $coordHelper.getZoomScale($env))
        #set ($zoomLevels = $coordHelper.getZoomLevels())
    #end
    #set ($mappoints = $coordHelper.getMapPoints($company, $env))


<content tag="companies-nav">

    #if ($pager.numberOfResults > 0)
        <div  style="margin-top: 11px;">
            <img src="../images/pix.gif" width="100%" height="1" class="dots" /><br/>
            <div class="geo_header">Sted</div>
            <img src="../images/pix.gif" width="100%" height="1" class="dots" /><br/>

            #navigatorInit('geographic')
            #if ($request.getParameter("nav_geographic"))
                <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
                    <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=y&amp;q=$query$!previousNavigationParameters$!otherNavigators";'>
                        <td class="nav_pad"><a href="?c=y&amp;q=$query$!previousNavigationParameters$!otherNavigators"><img src="../images/backArrow.gif" alt="" />$result.searchCommand.searchConfiguration.getNavigator("geographic").getDisplayName()</a></td>
                    </tr>
                #foreach ($back in $result.searchCommand.getNavigatorBackLinks('geographic'))
                    <tr>
                        <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" /></td>
                    </tr>
                    <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick="location.href='?c=y&amp;q=$query&amp;nav_geographic=$back.getName()$!previousNavigationParameters$!otherNavigators';">
                        <td class="nav_pad"><a href="?c=y&amp;q=$query&amp;nav_geographic=$back.getName()$!previousNavigationParameters$!otherNavigators"><img src="../images/backArrow.gif" alt="" />$result.searchCommand.getNavigatorTitle($back)</a></td>
                    </tr>
                #end
                </table>
            #end

            #if (!$result.searchCommand.getNavigatorTitle('geographic').equals("Fylker"))
                <img src="../images/pix.gif" width="100%" height="1" class="dots" /><br/>
                <div class="navbar_header2">
                    $!result.searchCommand.getNavigatorTitle('geographic')
                </div>
                <img src="../images/pix.gif" width="100%" height="1" class="dots" /><br/>
            #end

            <div>
            <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
                #foreach ($category in $result.getModifiers('geographic'))
                #if ($velocityCount == 7)
                    </table>
                    </div>
                    <div id="nav_element_2" style="display:none;">
                    <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
                #end
                <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick="location.href=document.getElementById('geographic$velocityCount').href;">
                    <td class="nav_pad">#navigatorLink('geographic' $velocityCount)</td>
                    <td class="nav_pad" align="right">$text.getMessage($locale, "numberFormat", $category.count)</td>
                </tr>
                <tr>
                    <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" /></td>
                </tr>
                #end
            </table>
            </div>
            <div id="expand_2" class="expand" style="display: #if ($result.getModifiers('geographic').size() > 6) block #else none #end ;"><b>+</b> <a href="javascript:;" onclick="javascript:document.getElementById('nav_element_2').style.display='block';document.getElementById('expand_2').style.display='none';document.getElementById('hide_2').style.display='block';">Vis alle</a></div>
                <div id="hide_2" class="expand" style="display:none;"><b>-</b> <a href="#" onclick="javascript:document.getElementById('nav_element_2').style.display='none';document.getElementById('expand_2').style.display='block';document.getElementById('hide_2').style.display='none';">Skjul</a></div>
            </div>
        </div>

        #navigatorInit('trade')
        <div style="margin-top: 20px;">
            <img src="../images/pix.gif" width="100%" height="1" class="dots" /><br/>
            <div class="geo_header">Bransjer</div>
            <img src="../images/pix.gif" width="100%" height="1" class="dots" /><br/>

            #if ($request.getParameter("nav_trade"))
                <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
                    <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick='location.href="?c=y&amp;q=$query$!previousNavigationParameters&$!otherNavigators";'>
                        <td class="nav_pad"><a href="?c=y&amp;q=$query$!previousNavigationParameters&$!otherNavigators"><img src="../images/backArrow.gif" alt="" />$result.searchCommand.searchConfiguration.getNavigator("trade").getDisplayName()</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" /></td>
                    </tr>
                #foreach ($back in $result.searchCommand.getNavigatorBackLinks('trade'))
                    <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='##FAFAFA';" onclick='location.href="?c=y&amp;q=$query&amp;nav_geographic=$back.getName()$!previousNavigationParameters$!otherNavigators";'>
                        <td><a href="?c=y&amp;q=$query&amp;nav_geographic=$back.getName()$!previousNavigationParameters$!otherNavigators"><img src="../images/backArrow.gif" alt="" />$result.searchCommand.getNavigatorTitle($back)</a></td>
                    </tr>
                #end
                </table>
            #end

#*            #if (!$result.searchCommand.getNavigatorTitle('trade').equals("Alle bransjer"))
                <img src="../images/pix.gif" width="100%" height="1" class="dots" /><br/>
                <div class="navbar_header2">
                    $result.searchCommand.getNavigatorTitle('trade')
                </div>
                <img src="../images/pix.gif" width="100%" height="1" class="dots" /><br/>
            #end *#
            <div>
            <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
                #foreach ($category in $result.getModifiers('trade'))
                #if ($velocityCount == 7)
                    </table>
                    </div>
                    <div id="nav_element_1" style="display:none;">
                    <table border="0" cellspacing="0" cellpadding="0" class="navbar_table">
                #end
                <tr onmouseover="this.style.background='#E3DEE4';" onmouseout="this.style.background='#FAFAFA';" onclick="location.href=document.getElementById('trade$velocityCount').href;">
                    <td class="nav_pad">#navigatorLink('trade' $velocityCount)</td>
                    <td class="nav_pad" align="right">$text.getMessage($locale, "numberFormat", $category.count)</td>
                </tr>
                <tr>
                    <td colspan="2" class="nopad"><img src="../images/pix.gif" width="100%" height="1" class="dots" /></td>
                </tr>
                #end
            </table>
            </div>
            <div id="expand_1" class="expand" style="display: #if ($result.getModifiers('trade').size() > 6) block #else none #end ;"><b>+</b> <a href="javascript:;" onclick="javascript:document.getElementById('nav_element_1').style.display='block';document.getElementById('expand_1').style.display='none';document.getElementById('hide_1').style.display='block';">Vis alle</a></div>
            <div id="hide_1" class="expand" style="display:none;"><b>-</b> <a href="#" onclick="javascript:document.getElementById('nav_element_1').style.display='none';document.getElementById('expand_1').style.display='block';document.getElementById('hide_1').style.display='none';">Skjul</a></div>
        </div>
    #end

</content>


<content tag="search-bar">
    #searchBar()
</content>


<content tag="companies-results">

    <SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='../javascript/map.js'></SCRIPT>
    <SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='../javascript/mapicon.js'></SCRIPT>
    <SCRIPT TYPE='text/javascript' LANGUAGE='JavaScript' SRC='../javascript/layers.js'></SCRIPT>

    <script type="text/javascript" language="JavaScript">
         var imgWidth;
         var imgHeigth;
         #if($hasCoords)
            var hasCoords = true;
            var arrZoomLevels = new Array();
            var arrCompany = new Array();

            #foreach ($level in $zoomLevels)
                #set ($index = $velocityCount - 1)
                arrZoomLevels[$index] = $level;
            #end
            currentZoomScale = arrZoomLevels[currentZoomLevel-1];

            #set ($count = 0)
            #foreach ($item in $result.results)
                #if ($item.getField('xcoord') && $item.getField('ycoord'))
                arrCompany[$count] = new coordObj($item.getField('xcoord'), $item.getField('ycoord'), $item.getField('recordid'));
                #set ($count = $count + 1)
                #end
            #end

            var countZoomLevels = $coordHelper.getZoomCount();
            ##variable som hentes fra noen konfigurasjon
            imgHeigth = $coordHelper.getImgHeigth();
            imgWidth = $coordHelper.getImgWidth();
            var iconHeigth = $coordHelper.getIconPxSizeHeigth();
            var iconWidth = $coordHelper.getIconPxSizeWidth();
            var iconOffsetHeigth = $coordHelper.getIconOffsetHeigth();
            var iconOffsetWidth = $coordHelper.getIconOffsetWidth();
            var iconOverlapOffsetHeigth = $coordHelper.getIconOverlapOffsetHeigth();
            var iconOverlapOffsetWidth = $coordHelper.getIconOverlapOffsetWidth();
            var envFactor = $coordHelper.getEnvFactor();
            var panfactor = $coordHelper.getPanFactor();
            var zoomfactor = $coordHelper.getZoomFactor();
            var imgMeterSize = $coordHelper.getImgMeterSize();//størrelse på kartbilde i meter
            var pixelSize = $coordHelper.getPixelsize();
            var defaultNoCoord = $coordHelper.getDefaultNoCoord();

            ##current variable
            var currentZoomLevel = $zoomlevel;
            var prevZoomLevel = currentZoomLevel;//initielt
            var currentZoomScale = $zoomscale;
            var maxX = $env.maxX;
            var minX = $env.minX;
            var maxY = $env.maxY;
            var minY = $env.minY;
            var centerCoordX = $env.getCenterX();
            var centerCoordY = $env.getCenterY();
            var centerPixY = imgHeigth/2;
            var centerPixX = imgWidth/2;
            var dX = maxX - minX;
            var dY = maxY - minY;
            ##var prevMaxX = maxX;
            ##var prevMinX = minX;
            ##var prevMaxY = maxY;
            ##var prevMinY = minY;
            var contextPath = "$contextPath";
        #else
            var hasCoords = false;
        #end
            function checkCoord(){
                return hasCoords;
            }

            function init(){
                #if ($pager.numberOfResults > 0)
                setImgMapOffset(document.getElementById("mapcontent"));
                getUrl();
                setZoomBarImg(currentZoomLevel)
                #end
            }

    </script>

    #if (!$query.trim().equals(""))
    <table id="greybar_main" cellpadding="0" cellspacing="0" width="758">
        <tr>
            <td class="left_yel">Bedriftss&#248;k: $text.getMessage($locale, "numberFormat", $pager.numberOfResults) treff p&#229; <b>$query</b></td>
            <td class="right_yel">&nbsp;</td>
        </tr>
    </table>
    #end

    #if ($pager.numberOfResults > 0)
    #set ($alphas = ["X", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J"])
    <script type="text/javascript" language="javascript">
       var coords = new Array();
       #set ($alphaCount = 0)
       #foreach ($item in $result.results)
       #set ($index = $velocityCount - 1)
       #set ($mappoint = $mappoints.get($index))

       #if($mappoint.x == $coordHelper.getDefaultNoCoord()) ## dersom det ikke finnes koordinater for bedriften
       #else
           #set ($alphaCount = $alphaCount+1)
           coords['$alphas.get($alphaCount)'] = { text: "<b>$!{item.getField('ypnavn2')}</b><br/>$!{item.getField('ypadresse')} #if ($item.getField('ypadresse') && ($item.getField('ywpostnr') || $item.getField('ywpoststed'))), <br/> $!{item.getField('ywpostnr')} $!{item.getField('ywpoststed')} #end <br/>Tlf: $!{item.getField('ypanynumber')}" };
       #end
       #end
       var erOver = false;

       function boble(label, elid) {
          if (!erOver) {
            var ypos=document.getElementById(elid).offsetTop;
            var xpos=document.getElementById(elid).offsetLeft;
            b = document.getElementById('bubblegum');
            t = document.getElementById('bubbletext');
            b.style.marginLeft = (xpos - 55) + "px";
            b.style.marginTop = (ypos - 98) + "px";
            b.style.display = 'block';
            t.innerHTML = coords[label].text;
           	//alert(b.style.display + " : " + b.style.marginLeft + " : " + b.style.marginTop);
            erOver = true;
          }
       }

       function bobleAv(label) {
            erOver = false;
            b = document.getElementById('bubblegum');
            b.style.display = 'none';
       }
    </script>

    <div id="yellow_table">
            <div class="yellow_results">
                <table cellspacing="0" cellpadding="0" border="0" id="result_list">
                    #set ($alphaCount = 0)
                    #set ($comment = 'false')
                    #foreach ($item in $result.results)
                    #set ($index = $velocityCount - 1)
                    #set ($mappoint = $mappoints.get($index))
                    #if($mappoint.x == $coordHelper.getDefaultNoCoord()) ## dersom det ikke finnes koordinater for bedriften vises ikke bokstaver
                        <tr onmouseover='this.style.background="#F3F3F3";' onmouseout='this.style.background="#FFFFFF";'>
                        #set ($comment = 'true')
                    #else
                        #set ($alphaCount = $alphaCount+1)
                        #set ($bubbleid = "icon_$item.getField('recordid')")
                        <tr id="row_$alphas.get($alphaCount)" onmouseover='this.style.background="#F3F3F3";' onmouseout='this.style.background="#FFFFFF";'>
                    #end
                        <td valign="top" class="detail">
                            #if($mappoint.x == $coordHelper.getDefaultNoCoord()) ## dersom det ikke finnes koordinater for bedriften vises ikke bokstaver
                                <span style="margin-right: 8px;">#</span> <b>$item.getField('ypnavn2')</b>
                            #else
                                <span class="alphabet">$alphas.get($alphaCount)</span> <b>$item.getField('ypnavn2')</b>
                            #end
                            &nbsp;&nbsp;<a href="?c=yip&amp;q=$query&amp;companyId=$item.getField('recordid')&amp;companyId_x=$hashGenerator.generateMD5($item.getField('recordid'))">infoside</a><br/>
                            #if ($item.getField('ypadresse') && $item.getField('ywpostnr'))
                                $!{item.getField('ypadresse')},
                            #else
                                $!{item.getField('ypadresse')}
                            #end
                            $!{item.getField('ywpostnr')}
                            $!{item.getField('ywpoststed')}
                            &nbsp;
                        </td>
                        <td valign="top" align="right" class="detail" style="white-space: nowrap;">#if ($item.getField('ypanynumber')) $item.getField('ypanynumber') #else &nbsp; #end</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="line"><img src="../images/pix.gif" width="1" height="1" /></td>
                    </tr>
                    #end
                    #if ($comment.equals("true"))
                    <tr>
                        <td colspan="2" class="small">&nbsp;<br/># = <i>Bedriften mangler adresseoppf&#248;ring, og kan ikke vises p&#229; kart</i></td>
                    </tr>
                    #end
                </table>
            </div>

            <div class="mapcell">
                <div id="bubblegum"><div id="bubbletext"></div></div>
                <table bgcolor="#F3F3F3" border="0" cellspacing="0" cellpadding="0" width="385">
                    <tr>
                        <td width="11" height="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('nw');}"><img src="../images/mapicon/panNW.jpg" width="11" height="11" alt="panorer"/></a></td>
                        <td align="center" height="11" class="printhide" width="$coordHelper.getImgWidth()px"><a href="javascript:if(checkCoord()){ pan('n');}"><img src="../images/mapicon/panN.jpg" height="11" alt="panorer"/></a></td>
                        <td width="11" height="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('ne');}"><img src="../images/mapicon/panNE.jpg" width="11" height="11" alt="panorer"/></a></td>
                    </tr>
                    <tr>
                        <td width="11" class="printhide"><a href="javascript:if(checkCoord()){pan('w');}"><img src="../images/mapicon/panW.jpg" width="11" alt="panorer"/></a></td>
                        <td width="$coordHelper.getImgWidth()" height="$coordHelper.getImgHeigth()" valign="top">
                        <div id="mapcontent" style="position: absolute; overflow: hidden; width: $coordHelper.getImgWidth()px; height: $coordHelper.getImgHeigth()px;">
                        #if($hasCoords)
                            <img name="map" src="../images/mapicon/loading.gif" width="$coordHelper.getImgWidth()px" height="$coordHelper.getImgHeigth()px" border="0" alt="" style="z-index: 1"/>
                            #set ($alphaCount = 0)
                            #foreach ($item in $result.results)
                                #set ($index = $velocityCount - 1)
                                #set ($zindex = 100 - $velocityCount)
                                #set ($mappoint = $mappoints.get($index))
                                #if($mappoint.x == $coordHelper.getDefaultNoCoord()) ## dersom det ikke finnes koordinater for bedriften vises ikke bilde
                                    <img src="../images/mapicon/bubble.gif" border="0" id="icon_$item.getField('recordid')" onmouseover="return setImage('info', 'highlite', this.id);" onmouseout="return setImage('info', 'normal', this.id);" alt="$!{item.getField('ypnavn2')}" onclick="location.href='?c=yip&amp;q=$query&amp;companyId=$item.getField('recordid')&amp;companyId_x=$hashGenerator.generateMD5($item.getField('recordid'))'" style="POSITION: absolute;TOP: 0px;LEFT: 0px; Z-INDEX: 100; CURSOR: pointer; VISIBILITY: hidden"/>
                                #else
                                    #set ($alphaCount = $alphaCount+1)
                                    #set ($bubbleid = "icon_$item.getField('recordid')")
                                    <img src="../images/mapicon/bubble_${alphaCount}.gif" border="0" id="$bubbleid" width="$coordHelper.getIconPxSizeWidth()" heigth="$coordHelper.getIconPxSizeHeigth()" alt="$!{item.getField('ypnavn2')}" onmouseover="javascript:boble('$alphas.get($alphaCount)','$bubbleid');document.getElementById('row_$alphas.get($alphaCount)').style.background='#F3F3F3';" onmouseout="javascript:bobleAv('$alphas.get($alphaCount)');document.getElementById('row_$alphas.get($alphaCount)').style.background='#FFFFFF';" onclick="location.href='?c=yip&amp;q=$query&amp;companyId=$item.getField('recordid')&amp;companyId_x=$hashGenerator.generateMD5($item.getField('recordid'))'" style="POSITION: absolute; TOP: $mappoint.getPxY()px; LEFT: $mappoint.getPxX()px; Z-INDEX: $zindex; CURSOR: pointer; VISIBILITY: visible"/>
                                #end
                            #end
                        #else
                            <img name="map" src="../images/mapicon/nomap_new.jpg" width="$coordHelper.getImgWidth()px" height="$coordHelper.getImgHeigth()px" border="0" alt="kart"/>
                        #end
                        </div>
                        </td>
                        <td width="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('e');}"><img src="../images/mapicon/panE.jpg" width="11" alt="panorer"/></a></td>
                    </tr>
                    <tr>
                        <td width="11" height="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('sw');}"><img src="../images/mapicon/panSW.jpg" width="11" height="11" alt="panorer"/></a></td>
                        <td align="center" height="11" class="printhide" width="$coordHelper.getImgWidth()px"><a href="javascript:if(checkCoord()){ pan('s');}"><img src="../images/mapicon/panS.jpg" height="11" alt="panorer"/></a></td>
                        <td width="11" height="11" class="printhide"><a href="javascript:if(checkCoord()){ pan('se');}"><img src="../images/mapicon/panSE.jpg" width="11" height="11" alt="panorer"/></a></td>
                    </tr>
                    <tr bgcolor="#FFFFFF">
                        <td colspan="3" height="5">&nbsp;</td>
                    </tr>
                    <tr bgcolor="#FFFFFF">
                        <td colspan="3" align="center" valign="center" class="printhide">
                            <a href="javascript:if(checkCoord()){ zoomout('uselevel');}"><img src="../images/mapicon/zoom_ut_knapp.jpg" height="22" width="64" alt="Zoom ut"/></a>
                            &nbsp;
                            <script type="text/javascript" language="JavaScript">
                                if (hasCoords)
                                    document.writeln('<img src="../images/pix.gif" name="zoombar" height="21" width="169" alt="Zoom bar" usemap="#zoombarmap" border="0"/>');
                                else
                                    document.writeln('<img src="../images/mapicon/map_nav.jpg" name="zoombar" height="21" width="169" alt="Zoom bar" border="0"/>');
                            </script>
                            &nbsp;
                            <a href="javascript:if(checkCoord()){ zoomin('uselevel');}"><img src="../images/mapicon/zoom_inn_knapp.jpg" height="22" width="68" alt="Zoom inn"/></a>
                        </td>
                    </tr>
                    <tr bgcolor="#FFFFFF">
                        <td colspan="3" height="5" style="color: #939393;" align="center" class="printhide">Land <img src="../images/pix.gif" width="28" height="1" /> Kommune <img src="../images/pix.gif" width="28" height="1" /> Gate</td>
                    </tr>
                </table>
            </div>
    </div>

            ## ---------------- kart del -------------------
            <script type="text/javascript" language="JavaScript">
                 //zoom box
                 content = '<img name="zoomImageTop" src="../images/pix.gif" width="1" height="1">';
                 createLayer("zoomBoxTop",xMapOffset,yMapOffset,imgWidth,imgHeigth,false,content);
                 content = '<img name="zoomImageLeft" src="../images/pix.gif" width=1 height=1>';
                 createLayer("zoomBoxLeft",xMapOffset,yMapOffset,imgWidth,imgHeigth,false,content);
                 content = '<img name="zoomImageRight" src="../images/pix.gif" width=1 height=1>';
                 createLayer("zoomBoxRight",xMapOffset,yMapOffset,imgWidth,imgHeigth,false,content);
                 content = '<img name="zoomImageBottom" src="../images/pix.gif" width=1 height=1>';
                 createLayer("zoomBoxBottom",xMapOffset,yMapOffset,imgWidth,imgHeigth,false,content);

                 initializeEvents();

                 setLayerBackgroundColor("zoomBoxTop", zoomBoxColor);
                 setLayerBackgroundColor("zoomBoxLeft", zoomBoxColor);
                 setLayerBackgroundColor("zoomBoxRight", zoomBoxColor);
                 setLayerBackgroundColor("zoomBoxBottom", zoomBoxColor);
            </script>

             <map id="zoombar_1" name="zoombarmap">
                   <area shape="rect" name="M&aring;lestokkniv&aring; 7"
                    coords="5,3,32,38" href="javascript:zoomlevel(7);" title="&#34;Zoom til m&aring;lestokkniv&aring; 7&#34;" />
                   <area shape="rect" name="M&aring;lestokkniv&aring; 6"
                    coords="32,4,50,37" href="javascript:zoomlevel(6);" title="&#34;Zoom til m&aring;lestokkniv&aring; 6&#34;" />
                   <area shape="rect" name="M&aring;lestokkniv&aring; 5"
                    coords="52,4,68,37" href="javascript: zoomlevel(5);" title="&#34;Zoom til m&aring;lestokkniv&aring; 5&#34;" />
                   <area shape="rect" name="M&aring;lestokkniv&aring; 4"
                    coords="70,5,90,38" href="javascript: zoomlevel(4);" title="&#34;Zoom til m&aring;lestokkniv&aring; 4&#34;" />
                   <area shape="rect" name="M&aring;lestokkniv&aring; 3"
                    coords="91,5,114,37" href="javascript:zoomlevel(3);" title="&#34;Zoom til m&aring;lestokkniv&aring; 3&#34;" />
                   <area shape="rect" name="M&aring;lestokkniv&aring; 2"
                    coords="115,5,135,37" href="javascript:zoomlevel(2);" title="&#34;Zoom til m&aring;lestokkniv&aring; 2&#34;" />
                   <area shape="rect" name="M&aring;lestokkniv&aring; 1"
                    coords="136,5,166,37" href="javascript:zoomlevel(1);" title="&#34;Zoom til m&aring;lestokkniv&aring; 1&#34;" />
            </map>

    <br clear="both"/>

    #else

        #if (!$query.trim().equals(""))
            #parse("no-hits.vm")
            <br clear="both" />
        #end
    #end

</content>

<content tag="verbosePager">
    #parse("verbosePager.vm")
</content>


    </tr>
</table>

</body>
</html>