<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="Search Engine Skin Tests" verbose="10" parallel="false">

    
    <test name="Template Tests">
        <classes>
            <class name="no.sesat.search.view.velocity.VelocityTemplateTest" />
        </classes>
    </test>
    <test name="Configuration Tests">
        <classes>
            <class name="no.sesat.search.mode.SearchModeFactoryTest"/>
        </classes>
    </test>
    
    <test name="Parser">
        <packages>
            <package name="no.sesat.search.query.parser"/>
        </packages>
    </test>
    <test name="Token">
        <packages>
            <package name="no.sesat.search.query.token"/>
        </packages>
    </test>
    <test name="Analysis">
        <packages>
            <package name="no.sesat.search.query.analyser"/>
        </packages>
    </test>
</suite>
