<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Search Engine Unit Tests" verbose="10" parallel="false">
    
    <test name="UnitTests" junit="true">
        <classes>
            <class name="no.schibstedsok.searchportal.util.test.PagingDisplayHelperUnitTest"/>
            <class name="no.schibstedsok.searchportal.util.test.ChannelUnitTest"/>
            <class name="no.schibstedsok.searchportal.view.velocity.RolesDirectiveTest" />
            <class name="no.schibstedsok.searchportal.view.velocity.ShareHoldersDirectiveTest" />
        </classes>
    
    </test>
   
</suite>
