<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <description>HTML front to Schibsted Søk</description>
    <display-name>Schibsted Søk</display-name>

    <!-- CLICKSTREAM -->
    <!-- UNCOMMENT TO ACTIVATE
    <filter>
     	<filter-name>clickstream</filter-name>
     	<filter-class>com.opensymphony.clickstream.ClickstreamFilter</filter-class>
    </filter>

    <filter-mapping>
       <filter-name>clickstream</filter-name>
       <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
       <filter-name>clickstream</filter-name>
       <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <filter-mapping>
       <filter-name>clickstream</filter-name>
       <url-pattern>/search/</url-pattern>
    </filter-mapping>
    -->
    <!-- END CLICKSTREAM -->

<!--

    <listener>
       <listener-class>com.opensymphony.clickstream.ClickstreamListener</listener-class>
    </listener>

    -->
    <!-- END CLICKSTREAM -->
    <!-- SITEMESH configuration -->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>

    <filter>
        <filter-name>md5ProtectParameters</filter-name>
        <filter-class>no.schibstedsok.front.searchportal.filters.MD5ProtectedParametersFilter</filter-class>
        <init-param>
            <param-name>secret</param-name>
            <param-value>S3SAM rockz</param-value>
        </init-param>
        <init-param>
            <param-name>protectedParameters</param-name>
            <param-value>companyId,personId</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>no.schibstedsok.front.searchportal.filters.SesamCacheFilter</filter-class>
        <init-param>
            <param-name>time</param-name>
            <param-value>600</param-value>
        </init-param>
        <init-param>
            <param-name>scope</param-name>
            <param-value>application</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>md5ProtectParameters</filter-name>
        <url-pattern>/search/*</url-pattern>
    </filter-mapping>
<!--
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/search/*</url-pattern>
    </filter-mapping>
-->

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/search/*</url-pattern>
    </filter-mapping>

    <!-- SITMESH END -->
    <servlet>
        <servlet-name>search servlet</servlet-name>
        <servlet-class>no.schibstedsok.front.searchportal.servlet.SearchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
           <servlet-name>jsp</servlet-name>
           <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>development</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>reloading</param-name>
            <param-value>false</param-value>
        </init-param>

        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>search servlet</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>no.schibstedsok.front.searchportal.servlet.MapServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/map/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>no.schibstedsok.front.searchportal.servlet.LoggingServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>15</session-timeout>
        <!-- 15 minutes -->
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/501.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/503.jsp</location>
    </error-page>

</web-app>
