<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
Copyright (2006) Schibsted ASA
$Id: log4j.xml 1403 2005-11-02 09:19:50Z larsar $
-->
<log4j:configuration
    xmlns:log4j="http://jakarta.apache.org/log4j/"
    threshold="all"
    debug="false">

    <appender name="LOG_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${sesat.log.dir}/@log.file@.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ALL"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} [%t %X{site}] %-5p %c{1}\: %m%n"/>
        </layout>
    </appender>
    
    <appender name="TEST_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="@log.directory@/@log.file@.test"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ALL"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} [%t %X{site} %X{test}] %-5p %c{1}\: %m%n"/>
        </layout>
    </appender>
    
    <!-- These are here to avoid their DEBUG messages flooding our logfiles -->
    <logger name="httpclient"><level value="INFO"/></logger>
    <logger name="org.apache"><level value="INFO"/></logger>
    <root>
        <level value="@log.level@"/>
        <appender-ref ref="LOG_APPEND"/>
    </root>
</log4j:configuration>
