<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <description>HTML front to Schibsted Søk</description>
    <display-name>Schibsted Søk</display-name>

    <!-- Filters -->
    
    <filter>
        <filter-name>SiteLocatorFilter</filter-name>
        <filter-class>no.schibstedsok.searchportal.http.filters.SiteLocatorFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>UrlSkinRewriteFilter</filter-name>
        <filter-class>no.schibstedsok.searchportal.http.filters.UrlRewriteFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>DataModelFilter</filter-name>
        <filter-class>no.schibstedsok.searchportal.http.filters.DataModelFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>

    <filter>
        <filter-name>md5ProtectParameters</filter-name>
        <filter-class>no.schibstedsok.searchportal.http.filters.MD5ProtectedParametersFilter</filter-class>
        <init-param>
            <param-name>secret</param-name>
            <param-value>S3SAM rockz</param-value>
        </init-param>
        <init-param>
            <param-name>protectedParameters</param-name>
            <param-value>companyId,personId,emailTo,rssPartnerId</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>no.schibstedsok.searchportal.http.filters.SesamCacheFilter</filter-class>
        <init-param>
            <param-name>time</param-name>
            <param-value>600</param-value>
        </init-param>
        <init-param>
            <param-name>scope</param-name>
            <param-value>application</param-value>
        </init-param>
    </filter>
    
    
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>no.schibstedsok.searchportal.http.filters.UserFilter</filter-class>
    </filter>
    
    <!-- Filter Mappings -->
    <!--filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/search/*</url-pattern>
    </filter-mapping-->
    <filter-mapping>
        <filter-name>SiteLocatorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping> <!-- Processes the urlrewrite.xml from each skin -->
        <filter-name>UrlSkinRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping> <!-- Processes the global WEB-INF/urlrewrite.xml -->
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DataModelFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher> 
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/search/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher> 
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>md5ProtectParameters</filter-name>
        <url-pattern>/search/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher> 
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/search/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher> 
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher> 
    </filter-mapping>
    
    <!-- Servlets -->

    <servlet>
        <servlet-name>VelocityDebug</servlet-name>
        <servlet-class>no.schibstedsok.searchportal.http.servlet.VelocityDebugServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>search servlet</servlet-name>
        <servlet-class>no.schibstedsok.searchportal.http.servlet.SearchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
           <servlet-name>jsp</servlet-name>
           <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>development</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>reloading</param-name>
            <param-value>false</param-value>
        </init-param>

        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>no.schibstedsok.searchportal.http.servlet.MapServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>no.schibstedsok.log4j.LoggingServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RetrieverLog</servlet-name>
        <servlet-class>no.schibstedsok.searchportal.http.servlet.RetrieverLogServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>no.schibstedsok.searchportal.http.servlet.SendMailServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>VelocityDebug</servlet-name>
        <url-pattern>/servlet/VelocityDebug</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>search servlet</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/map/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/servlet/Log</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RetrieverLog</servlet-name>
        <url-pattern>/search/writeLog.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/servlet/sendMail.do</url-pattern>
    </servlet-mapping>
    
    <!-- Misc -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>

    <session-config>
        <!-- 15 minutes -->
        <session-timeout>15</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/WEB-INF/jsp/501.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/WEB-INF/jsp/503.jsp</location>
    </error-page>

    

    </web-app>
