* {
    margin: 0;
    padding: 0;
}

body {
	font-family: arial, sans-serif;
	font-size: 62.5%;
	background-color: #fff;
}

h1 {
    font-size: 1.4em;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    color: #446DA2;
}

a:hover { color: #EA6A24; }

/* used in main-decorator footer and verbose.vm */
.text_align_center {
    text-align: center;
}

/* the left margin on the page (replace 'first_cell') */
.page_margin_left {
    margin-left: 15px;
}


/* ------------------------------------------------------------------ */
/* =MAIN-DECORATOR */

#logo {
    margin: 10px 0 15px 15px;
}

/* padding between tabs */
.menu_img {
    margin-right: 10px;
}

#table_searchbox, #table_content, #table_enrichment, #table_result {
    width: 780px;
    font-size: 1.2em;
}

.search_button {
	background-color: #F6B331;
	padding: 0 0.5em;
	color: #FFFFFF;
	font-weight: bold;
}

#content_searchform {
    margin-top: 10px;
}

#content_searchform_header {
    font-size: 1.4em;
    font-weight: bold;
}

#content_searchform li {
    margin-top: 10px;
}

#table_searchbox label {
    margin-left: 5px;
}

.radio_button {
    margin-left: 15px;
}

#table_footer {
    /*width: 780px;*/
    margin-top: 40px;
    font-size: 1.2em;
    color: #003880;
}

#footer {
    background-image: url(../images/menu/footer_line.gif);
    background-repeat: repeat-x;
    margin-top: 5px;
}


/* ------------------------------------------------------------------ */
/* =FAST-COMPANIES-SEARCH-RESULT */

/* -- the table which containg the 3 (2) parts -- */
#company_result, #person_result  {
    margin-top: 10px;
    color: #003880;
    background-color: #FFF;
}

/* -- the global navbar contender -- */
#navbar {
    width: 145px;
    margin-top: 10px;
    font-size: 0.9em;
}



#branch_header {
    background-color: #ECEDEF;
    border: solid 1px #DFDFDF;
    padding: 3px 3px;
    margin-top: 3px;
}

#geo_header {
    clear: both;
    background-color: #ECEDEF;
    border: solid 1px #DFDFDF;
    margin-top: 10px;
    padding: 3px 3px;
}

/* -- the geo navbar (ul) --*/
#branch_list {
    background-color: #F2F2F4;
    color: #003980;
    border: 1px solid #DFDFDF;
    margin-top: 3px;
}

/* -- the geo data table -- */
.geo_list {
    width: 98.5%;
    margin: 3px 0 10px 0;
    float: left;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    background-color: #F2F2F4;
}

.geo_list dt {
    width: 74%;
    float: left;
    clear: left;
    border-top: 1px solid #DFDFDF;
    padding: 3px 3px;
}

.geo_list dd {
    width: 19.8%;
    float: left;
    border-top: 1px solid #DFDFDF;
    padding: 3px 2px 3px 0;
    text-align: right;
}

/* -- the result header table -- */
.result_list_header {
    width: 99%;
    float: left;
    border: 1px solid #DFDFDF;
    background-color: #F2F2F4;
}

.result_list_header dt {
    width: 78%;
    float: left;
    clear: left;
    padding: 3px 0 3px 5px;;

}

.result_list_header dd {
    width: 18.9%;
    float: left;
    padding: 3px 5px 3px 0;
    text-align: right;
}

/* -- the result data -- */
.result_list {
    width: 99%;
    float: left;
    margin-top:5px;
}

.result_list dt {
    width: 79%;
    float: left;
    clear: left;
    padding-left: 5px;
}

.result_list dd {
    width: 18.9%;
    float: left;
    text-align: right;
}

.underline {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #DFDFDF;
}

.result_list a {
    margin-left: 10px;
}

.nav_branch_header {
    background-color: #ECEDEF;
    border: solid 1px #DFDFDF;
    padding: 3px 5px;
}


.search_query_h1 {
    font-size: 1em;
    font-weight: bold;
    color: #000;
    background-color: #fff;
}

#result_table {
    margin: 10px 0 0 10px;
}

#map {
    margin: 10px 0 0 10px;
}


#test li {
    display: inline;
}

#test .d { background-color: #705CB3 }
#test .m { background-color: # }
#test .w { background-color: # }
#test .g { background-color: # }

/* ------------------------------------------------------------------ */
/* =INFOPAGE */

/* -- the table which contains 2 parts -- */
#company_infopage  {
    margin-top: 10px;
    color: #003880;
    background-color: #FFF;
}

#company_infopage h1 {
    font-size: 1em;
}

#company_data {
    margin-top: 3px;
    background-color: #FFFCF2;
    border: solid 1px #E5DBC3;
}

.visitingAddress {
    padding: 40px 0 0 20px;
}

.updateInfo {
    padding: 40px 0 40px 20px;
}

/* -- the link tabs on the infopage -- */
#tabs li {
    display: inline;
}

#tabs .last {
    border-right: none;
}

#tabs a {
    border-right: solid 1px #E5DBC3;
    border-bottom: solid 1px #E5DBC3;
    padding-top: 3px;
    float: left;
    width: 24.77%;
    height:1.5em;
    text-align: center;
    vertical-alig:center;
    background-image: url(../images/tab_bg.gif);
    background-repeat: repeat-x;
    text-decoration: none;
}

#tabs a.active, #tabs a:hover {
    background-image: url(../images/mOver.gif);
    background-repeat: repeat-x;
    color: #446DA2;
}


/* ------------------------------------------------------------------ */
/* =SEARCH-RESULT */

#search_result {
    margin: 10px 0 0 15px;
    width: 800px;
}

#search_result p {
    margin-top: 13px;
}

/* -- the result picture header table -- */
.search_hit_header {
    font-family: verdana;
    width: 100%;
    margin: 10px 0 20px 0;
    float: left;
    border: 1px solid #DFDFDF;
    background-color: #F2F2F4;
}

.search_hit_header dt {
    width: 78%;
    float: left;
    clear: left;
    padding: 3px 0 3px 5px;;

}

.search_hit_header dd {
    width: 18.9%;
    float: left;
    padding: 3px 5px 3px 0;
    text-align: right;
}


.search_result_summary {
    margin-top: 3px;
}

.search_summary {
    margin: 6px 0;
}

.search_big_url {
    font-size: 1.3em;
    color: #3C00CC;
}

.search_small_url {
    color: #666666;
    text-decoration: none;
}

.search_next_click {
    color: #000;
}


/* -- how old media document is (media) -- */
.timestamp {
    color: gray;
    margin-left: 10px;
}


/* ------------------------------------------------------------------ */
/* =PIC-SEARCH */

#pic_result {
    margin-top: 10px;
    /* 5 because cellspacing is 10 */
    margin-left: 5px;
}

.pic_frame {
    width: 180px;
    height: 180px;
    background-color: #F2F2F4;
    text-align: center;
}

.pic_holder {
    width: 150px;
    height: 180px;
}

/* -- the result picture header table -- */
.result_pic_header {
    width: 100%;
    float: left;
    border: 1px solid #DFDFDF;
    background-color: #F2F2F4;
}

.result_pic_header dt {
    width: 78%;
    float: left;
    clear: left;
    padding: 3px 0 3px 5px;;

}

.result_pic_header dd {
    width: 18.9%;
    float: left;
    padding: 3px 5px 3px 0;
    text-align: right;
}


/* ------------------------------------------------------------------ */
/* =ENRICHMENT */

.enrichment, .spelling_suggestion {
    margin: 10px 0 0 15px;
    line-height: 1.6em
}

.enrichment ul {
    margin-left: 40px;
}

.enrichment_link {
    font-size: 1.3em;
}

/* -- margin for media enrichment source -- */
.news_source {
    margin-left: 10px;
}


/* ------------------------------------------------------------------ */
/* =NO HITS  */

#no_hits {
    margin: 20px 0 0 15px;
}

#no_hits p {
    margin-top: 10px;
}
