* {
    margin: 0;
    padding: 0;
}

body {
	font-family: arial, sans-serif;
	font-size: 62.5%;
	background-color: #fff;
}

h1 { font-size: 1.4em; }

li { list-style: none; }

img { border: none; }

a {
    color: #446DA2;
    font-size: 1.1em;
}

.link_style {
	margin-left: 0.3em;
	margin-right: 0.3em;
}


/* ------------------------------------------------------------------ */
/* =MAIN-DECORATOR */

#logo { margin: 10px 0 15px 20px; }

/* padding between tabs */
.menu_img { margin-right: 15px; }

#search_form { padding: 10px 0 10px 0; }

#table_menu {
    width: 780px;
    font-size: 1.2em;
}

.first_cell {padding-left: 20px; }

#header { padding-top: 10px; }

.search_button {
	background-color: #F6B331;
	padding: 0.2em 0.5em;
	color: #FFFFFF;
	font-weight: bold;
}

#table_footer {
    width: 780px;
    margin-top: 40px;
    font-size: 1.1em;
    color: #003880;
}

#footer {
    background-image: url(../images/menu/footer_line.gif);
    background-repeat: repeat-x;
}

.text_align_center {
    text-align: center;
}

/* ------------------------------------------------------------------ */
/* =FAST-COMPANIES-SEARCH-RESULT */

#form_header {
    font-size: 1.4em;
    color: #F6B331;
    font-weight: bold;
}

#company_result {
    color: #003880;
    background-color: #F1ECDC;
    width: 390px;
    margin-left: 20px;
    border: solid 1px #AEABAB;
}

#company_result .cheat {
    font-size: 0.1em;
    clear:both;
}

#company_result_heading {
    background-color: #DEDACE;
    width: 390px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: solid 1px #AEABAB;
    padding: 5px 0
}

.search_query_h1 {
    font-size: 1em;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    margin: 10px 0 10px 20px;
}

#company_result_footer {
    background-color: #fff;
    width: 390px;
    margin-left: 20px;
    margin-top: 10px;
}

#company_result .company_result_borderline {
    border-bottom: solid 1px #DAD9D9;
    font-size: 7px;
    clear:both;
}

/* li class */
.result_line1 {
    padding-top: 9px;
}

/* li class */
.result_line2 {
	width: 390px;
}


.company_name {
    padding-left:10px;
    font-weight:bold;
}

.float_clear {
    clear: both;
}

.col_1 {
	width: 74%;
	float: left;
    padding-left:10px;
}

.col_2 {
	width: 22%;
	float: right;
}






.all_type_standard_size{
	font-size: 0.9em;
}
a:hover { color: #EA6A24; }


.beriketInnrykk{
	margin-left:3em;
}
.beriketInnrykkTidspunkt{
	font-size:      0.7em;
	margin-left:	3em;
	color: 			5A6623;
}
.beriketTittel{
  	font-size:      0.9em;
}
.beriketUrl{
  	font-size:      0.8em;
}

.boksTittel {
     font-size: 0.7em;
	 color: #007AC8;
     padding-bottom: 5px;
	 margin-bottom: 2em;
   	 border-bottom: solid 1px #007AC8;
   	 margin-bottom: 10px;
}

.boksInnhold{
  	font-size:      0.8em;
}
.boksSummary{
  	font-size:      0.8em;
	margin-top: 	1.2em;
}
.fanetxt {
	font-size: 0.9em;
	color: 5A6623;
	margin-left: 0.3em;
	margin-right: 0.3em;
}
.faneMarkert {
	font-size: 1.0em;
	color: #FFFFFF;
	margin-left: 0.3em;
	margin-right: 0.3em;
	font-weight: bold;

}
.Hjelp_stavelse{
	color: #FF6633;
}
.marger_resultat {
	margin-right: 0.9em;
}

.navigator_resultat {
	font-size: 0.6em;
	color: #5A6623;
	margin-right: 0.4em;
}


.litenUrl {
	font-size: 0.8em;
	color: #5A6623;
	margin-top: 0.7em;
}