* {
    margin: 0;
    padding: 0;
}

body {
	font-family: arial, sans-serif;
	font-size: 62.5%;
	background-color: #fff;
}

#logo {
    margin-top: 50px;
    margin-left: 265px;
}

#front {
    margin-left: 300px;
}

#flip_hover {
    width: 90px;
    height: 25px;
    text-align:center;
}

.flip {
    height: 25px;
    text-align:center;
}

#flip_hover div {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border-left
    margin-right: 20px;
}

.flip div {
    color: blue;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.space {
    margin-left: 10px;
}

.dot {
    margin: 0 10px;
}

.dot_10 {
    margin: 0 5px;
}

#form {
    margin-top: 20px;
    margin-left: 400px;
}

.search_button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #705CB3;
	margin-left: 5px;
	font-weight: normal;
	height: 24px;
	border-color: #FFFFFF;
	width: 100px;
}

#footer {
    margin-top: 180px;
}

#footer_text {
    margin-left: 400px;
}
