  .media {
    width: 300px;
    float: right;
    padding: 5px;
    background: pink;
  }
	#logoskygge {
		text-align: left;
		position: absolute;
		font-family: Lucida Console, Arial;
		font-size: 28px;
		font-weight: bold;
		width: 100%;
	}
	#flereNavigatorer {
		display: none;
	}
	#logo {
		text-align: left;
		font-family: Lucida Console, Arial;
		font-size: 28px;
		font-weight: bold;
		float: left;
	}
	#logoAddOn {
		color: blue;
		font-size: 18px;
	}
	#logoAddOnSkygge {
		color: white;
		font-size: 18px;
	}
	#c1 { color: #5A6623; }
	#c2 { color: #FFFF00; }
	#c3 { color: #FF0000; }
	#c4 { color: #FF00FF; }
	#c5 { color: #0000FF; }
	#c6 { color: #00FFFF; }
	#navigasjon {
		text-align: left;
		padding-left: 0px;
		margin-left: 0px;
	}
	A.navigasjon, 
	A.navigasjon:visited, 
	A.navigasjon:active 
	{
		color: blue;
		font-size: 85%;
	}
	#skjema {
		/* text-align: center; */
	}
	.skjemaSpalte {
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 20px;
		text-align: left;
	}
	.utenBorder {
		border: none;
	}
	#tekstfelt {
		width: 250px;
	}
	#knapp {
		width: 75px;
		margin-right: 20px;
	}
	#resultatsett {
		text-align: left;
	}
	.valgt {
		font-weight: bold;
		text-decoration: none;
		color: red;
		font-size: 85%;

	}
	.separator {
		color: #AA4444;
	}
	.mere {
		color: blue;
		text-decoration: none;
	}
	.res {
		border: solid #AA4444 1px;
		padding: 2px;
		background: white;
		position: absolute;
		margin-top: 1.25em;
		font-size: 75%;
		display: none;
		width: 105px;
		z-index: 999;
	}
	.utenBorderLeft {
		border-left: 0px;		
		padding-left: 0px;	
	}
	.utenBorderRight {
		border-right: none;
		padding-top: 0px;
	}
	.whitey {
		width: 60px;
		margin-left: 1px;
		position: absolute;
		padding-bottom: 2px;
		border-bottom: solid white 1px;
		z-index: 1;
		font-size: 85%;
	}
	.ingenPaddingTop {
		padding-top: 0px;
	}
	.moderatPaddingTop {
		padding-top: 5px;
	}

	.ingenPaddingBottom {
		padding-bottom: 0px;
	}
	.moderatPaddingBottom {
		padding-bottom: 5px;
	}
	.usynlig {
		display: none;
	}
	.sentrerer {
		text-align: center;
	}
	.venstrestiller {
		margin-left: 30px;
		text-align: left;
	}
  .enriched {
    margin-left: 25px;
  }
  .enrichedBox {
    margin-bottom: 20px;
  }
	.sponsetLink {
		padding-top: 8px;
		padding-bottom: 12px;
		background: #eeeeee;
	}
	.folder_style{
        font-size: 8pt;
        background: #E7EFF7;
  }
	.hovedlink {
		font-size: 110%;
		font-weight: bold;
	}
	.pfp {
		z-index: 1;
	}
	.hoyrejusterer {
		text-align: right;
	}
	.uthevet {
		font-weight: bold;
	}
	.sponsormerke {
		font-size: 70%;
		font-weight: bold;
		width: 100%;
		position: absolute;
	}
	.sponsetinfo {
		font-style: italic;
	}
	.vissteDuAt {
		font-size: 100%;
		font-weight: bold;
		color: red;
	}
	.bilde {
		width: 33%;
		float: left;
		text-align: center;
	}
	.popup {
		font-family: Webdings;
	}
	.sokrelatert {
		background: white;
		border-bottom: solid 3px red;
	}
	.spesialtreff ul {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 17px;
	}
	.spesialtreff li {
		list-style: url(grafikk/dot.png);
	}
	.navigatorer {
		/* position: absolute;
		right: 10px; */
		float: right;
		width: 132px;
		background: #eeeeee;
		font-size: 85%;
		z-index: 999;
	}
	.floatLeft { float: left; }
	.floatRight { float: right; }
	.clearAll { clear: all; }
	.navigatorPadding { padding: 8px; }
	.bredere {
		width: 631px;
	}
	.alternativStaving {
		margin-bottom: 4px;
	}
	.kursiv {
		font-style: italic;
	}
	.ingenMarginLeft {
		margin-left: 0px;
	}
	.moderatMarginRight {
		margin-right: 6px;
	}
	.spesialtreff {
		border: solid #eeeeee 3px;
		padding: 8px;
		margin-top: 5px;
		text-align: center;
		background: white;
	}
	.bildepreview {
		width: 135px;
		padding: 3px;
		height: 150px;
		margin-right: 20px;
		margin-top: 8px;
		background: white;
		border: solid #eeeeee 1px;
		text-align: center;
		display: inline;
	}
	.maksBredde { margin-right: -145px; }
	.navigasjonstekst {
		padding-top: 0px; 
		margin-left: 120px;
	}
	BODY {
		font-family: Arial;
		font-size: 80%;
	}
	A:visited { color: blue; }
	#kolofon {
		border-top: solid red 3px;
		text-align: center;
		padding-top: 5px;
	}
	.kilde {
		color: #999999;
	}
	
	
	
	
	
	/* NYE GREIER! */
	   A.faneLenke, A.faneLenke:visited, A:faneLenke:active {
     font-family:    verdana;
     font-size:      11px;
	 color: #5A6623;
   }
   .noDec {
     text-decoration: none;
   }
   .stavekontroll {
	 	  color:          #C73742;
	 }
	 .tidspunkt {
	 	  color: gray;
	 }
   .faneNorge, 
   .faneNyheter, 
   .faneVerden, 
   .faneBedrifter, 
   .fanePersoner, 
   .faneKart {
     width:          90px;
     float:          left;
   	 margin-right:   10px;
   	 padding-left:   4px;
   	 padding-top:    2px;
   	 padding-bottom: 2px;
   	 padding-right:  10px;
		 font-size:      10px;
		 font-family:    Verdana, Arial, Helvetica, sans-serif;
		 color:          #003880;
   }
   .faneNorge {
   	 border-left:    solid 4px #C73742;
   	 border-bottom:  solid 1px #C73742;
   }
   .faneNyheter {
   	 border-left:    solid 4px #EA6A24;
   	 border-bottom:  solid 1px #EA6A24;
   }
   .faneVerden {
   	 border-left:    solid 4px #1432B4;
   	 border-bottom:  solid 1px #1432B4;
   }
   .faneBedrifter {
   	 border-left:    solid 4px #EECD30;
   	 border-bottom:  solid 1px #EECD30;
   }
   .fanePersoner {
   	 border-left:    solid 4px #98A03B;
   	 border-bottom:  solid 1px #98A03B;
   }
   .faneKart {
   	 border-left:    solid 4px #007AC8;
   	 border-bottom:  solid 1px #007AC8;
   }
   
   .faneNorgeValgt, 
   .faneBedrifterValgt,
   .fanePersonerValgt,
   .faneKartValgt,
   .faneNyheterValgt,
   .faneVerdenValgt {
   	 width:          90px;
     float:          left;
   	 margin-right:   10px;
   	 padding-left:   4px;
   	 padding-top:    2px;
   	 padding-bottom: 2px;
   	 padding-right:  10px;
		 font-size:      14px;
		 font-family:    Arial;
		 font-weight:    bold;
		 color:          #003880;
   }
	 .faneNorgeValgtNavigator,
	 .faneBedrifterValgtNavigator,
	 .fanePersonerValgtNavigator,
	 .faneKartValgtNavigator,
	 .faneNyheterValgtNavigator,
	 .faneVerdenValgtNavigator {
	    padding-left:   10px;
      margin-left:    20px;
   	  padding-top:    5px;
   	  padding-bottom: 5px;
   	  width:          650px;
   	  font-family:    Arial;
   	  /* font-size:      11px; */
   	  color:          #003880;
	 }
	    
   .faneNorgeValgt {
     border-left:    solid 4px #C73742;
     padding-bottom: 13px;
     float: left;
   }
   .faneNorgeValgtIndikator {
      background:    #C73742;
      width:         24px;
      height:        1px;
      display:       block;
      margin-bottom: 0px;
   }
   .faneNorgeValgtNavigator {
      border-left:    solid 4px #C73742;
   }
   
   .faneBedrifterValgt {
     border-left:    solid 4px #EECD30;
     padding-bottom: 13px;
     float: left;
   }
   .faneBedrifterValgtIndikator {
      background:    #EECD30;
      width:         102px;
      margin-left:   20px;
      height:        1px;
      display:       block;
      margin-bottom: 0px;
   }
   .faneBedrifterValgtNavigator {
      border-left:    solid 4px #EECD30;
   }

   .fanePersonerValgt {
     border-left:    solid 4px #98A03B;
     padding-bottom: 13px;
     float: left;
   }
   .fanePersonerValgtIndikator {
      background:    #98A03B;
      width:         220px;
      margin-left:   20px;
      height:        1px;
      display:       block;
      margin-bottom: 0px;
   }
   .fanePersonerValgtNavigator {
      border-left:    solid 4px #98A03B;
   }

   .faneKartValgt {
     border-left:    solid 4px #007AC8;
     padding-bottom: 13px;
     float: left;
   }
   .faneKartValgtIndikator {
      background:    #007AC8;
      width:         338px;
      margin-left:   20px;
      height:        1px;
      display:       block;
      margin-bottom: 0px;
   }
   .faneKartValgtNavigator {
      border-left:    solid 4px #007AC8;
   }

   .faneNyheterValgt {
     border-left:    solid 4px #EA6A24;
     padding-bottom: 13px;
     float: left;
   }
   .faneNyheterValgtIndikator {
      background:    #EA6A24;
      width:         456px;
      margin-left:   20px;
      height:        1px;
      display:       block;
      margin-bottom: 0px;
   }
   .faneNyheterValgtNavigator {
      border-left:    solid 4px #EA6A24;
   }

   .faneVerdenValgt {
     border-left:    solid 4px #1432B4;
     padding-bottom: 13px;
     float: left;
   }
   .faneVerdenValgtIndikator {
      background:    #1432B4;
      width:         574px;
      margin-left:   20px;
      height:        1px;
      display:       block;
      margin-bottom: 0px;
   }
   .faneVerdenValgtNavigator {
      border-left:    solid 4px #1432B4;
   }
   
   .beriketNorge,
   .beriketBedrifter,
   .beriketPersoner,
   .beriketKart,
   .beriketNyheter,
   .beriketVerden {
      margin-left:    20px;
      padding-left:   10px;
      width:          500px;
      /* margin-top:     30px; */
      font-family:    Arial;
      /* font-size:      11px; */
      padding-top:    5px;
      padding-bottom: 5px;
      margin-bottom: 10px;

   }

	 .beriketNorge {
      border-left:    solid 4px #C73742;
	 }
	 .beriketBedrifter {
      border-left:    solid 4px #EECD30;
	 }
	 .beriketPersoner {
      border-left:    solid 4px #98A03B;
	 }
	 .beriketKart {
      border-left:    solid 4px #007AC8;
	 }
	 .beriketNyheter {
      border-left:    solid 4px #EA6A24;
	 }
	 .beriketVerden {
      border-left:    solid 4px #1432B4;
	 }
   .beriketTittel {
   	font-weight: bold;
   }
   .beriketInnrykk {
      margin-left: 10px;
   }
   A, A:visited, A:active {
     color:          #003880;   
   }
   
   .submitKnapp {
   	 background: #B2C5E3;
   	 border: none;
   	 width: 60px;
   	 color: #003880;
   	 font-weight: bold;   	 
   }
   .inputFelt {
     width: 250px;
   	 border: solid 1px #B2C5E3;
   }
   
   .boksTittel {
     font-family: Arial;
     font-size: 9px;
     padding-bottom: 5px;
   	 border-bottom: solid 1px #B2C5E3;
   	 margin-bottom: 10px;
   }
   
   .boksInnhold {
     font-family: Arial;
     color: #003880;
   }
   
   .hoyreSpalte {
     width: 200px;
     float: right;
   }
   
   A.litenUrl, A.litenUrl:hover, A.litenUrl:active, A.litenUrl:visited {
   	 text-decoration: none;
   	 color: #C73742;
   }
   
   .sokeresultat {
   /*
   	margin-left: 20px;
   	border-left: solid 4px #C73742;
   	*/
   }
   
