/** Copyright (2008) Schibsted ASA
 *   This file is part of SESAT.
 *
 *   SESAT is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU Affero General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   SESAT is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU Affero General Public License for more details.
 *
 *   You should have received a copy of the GNU Affero General Public License
 *   along with SESAT.  If not, see <http://www.gnu.org/licenses/>.
 *
    Created on : 25/03/2008, 19:30:49
    Author     : mick
    Description:
        Global CSS definitions for Sesat. 
        Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body {
    font-family: arial, sans-serif;
    font-size: 1.3em;
    background-color: #fff;
    padding-right: 15px;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    color: #0000CC;
}

#main {
    padding-left: 15px;
}

.clearEl {
    clear: both;
    height: 0px;
}

.clear {
    clear: both;
}

#dummy {
    height: 0px;
}