<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
Copyright (2006) Schibsted Søk AS
 *   This file is part of SESAT.
 *
 *   SESAT is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU Affero General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   SESAT is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU Affero General Public License for more details.
 *
 *   You should have received a copy of the GNU Affero General Public License
 *   along with SESAT.  If not, see <http://www.gnu.org/licenses/>.
$Id: log4j.xml 1403 2005-11-02 09:19:50Z larsar $
-->
<log4j:configuration
        xmlns:log4j="http://jakarta.apache.org/log4j/"
        threshold="all"
        debug="false">

    <appender name="LOG_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@log.file@.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="@log.level@"/> <!-- note comment next to root logger -->
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{HH\:mm\:ss,SSS} [%X{site} %t] (%X{UNIQUE_ID}) %c{1}\: %m%n"/>
        </layout>
    </appender>

    <appender name="LOG_APPEND_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="LOG_APPEND"/>
    </appender>
    
    <appender name="ACCESS_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@log.file@.access"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ALL"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="&lt;log timestamp=&quot;%d{HH\:mm\:ss,SSS}&quot; skin=&quot;%X{site}&quot; request=&quot;%X{UNIQUE_ID}&quot;&gt;%m&lt;/log&gt;%n"/>
        </layout>
    </appender>
    
    <appender name="ACCESS_APPEND_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="ACCESS_APPEND"/>
    </appender>

    <appender name="DUMP_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@log.file@.dump"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ALL"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} [%t %X{site}] (%X{UNIQUE_ID}) %-5p %c{1}\: %m%n"/>
        </layout>
    </appender>

    <appender name="DUMP_APPEND_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="DUMP_APPEND"/>
    </appender>
    
    <appender name="SALES_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@log.file@.sales"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ALL"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="&lt;log timestamp=&quot;%d{HH\:mm\:ss,SSS}&quot; skin=&quot;%X{site}&quot; request=&quot;%X{UNIQUE_ID}&quot;&gt;%m&lt;/log&gt;%n"/>
        </layout>
    </appender>
    
    <appender name="SALES_APPEND_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="SALES_APPEND"/>
    </appender>

    <appender name="MARKETING_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@log.file@.marketing"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ALL"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="&lt;log timestamp=&quot;%d{HH\:mm\:ss,SSS}&quot; skin=&quot;%X{site}&quot; request=&quot;%X{UNIQUE_ID}&quot;&gt;%m&lt;/log&gt;%n"/>
        </layout>
    </appender>
    
    <appender name="MARKETING_APPEND_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="MARKETING_APPEND"/>
    </appender>

    <appender name="PRODUCT_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@log.file@.product"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ALL"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="&lt;log timestamp=&quot;%d{HH\:mm\:ss,SSS}&quot; skin=&quot;%X{site}&quot; request=&quot;%X{UNIQUE_ID}&quot;&gt;%m&lt;/log&gt;%n"/>
        </layout>
    </appender>
    
    <appender name="PRODUCT_APPEND_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="PRODUCT_APPEND"/>
    </appender>

    <appender name="STATISTICS_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@log.file@.statistics"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ALL"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="&lt;log timestamp=&quot;%d{HH\:mm\:ss,SSS}&quot; skin=&quot;%X{site}&quot; request=&quot;%X{UNIQUE_ID}&quot;&gt;%m&lt;/log&gt;%n"/>
        </layout>
    </appender>

    <appender name="STATISTICS_APPEND_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="STATISTICS_APPEND"/>
    </appender>
    
    <appender name="ANALYSIS_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@log.file@.analysis"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ALL"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="&lt;log timestamp=&quot;%d{HH\:mm\:ss,SSS}&quot; skin=&quot;%X{site}&quot; request=&quot;%X{UNIQUE_ID}&quot;&gt;%n%m%n&lt;/log&gt;%n"/>
        </layout>
    </appender>

    <appender name="ANALYSIS_APPEND_ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="ANALYSIS_APPEND"/>
    </appender>
    
    <appender name="INITIALISATION_APPEND" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/@log.file@.initialisations"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} [%t %X{site}] (%X{UNIQUE_ID}) %-5p %c{1}\: %m%n"/>
        </layout>
    </appender>

    <logger name="no.sesat.Access" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="ACCESS_APPEND_ASYNC"/>
    </logger>

    <logger name="no.sesat.search.Dump">
        <level value="ALL"/>
        <appender-ref ref="DUMP_APPEND_ASYNC"/>
    </logger>

    <logger name="no.sesat.Sales" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="SALES_APPEND_ASYNC"/>
    </logger>

    <logger name="no.sesat.Marketing" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="MARKETING_APPEND_ASYNC"/>
    </logger>

    <logger name="no.sesat.Statistics" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="STATISTICS_APPEND_ASYNC"/>
    </logger>

    <logger name="no.sesat.search.analyzer.Analysis" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="ANALYSIS_APPEND_ASYNC"/>
    </logger>

    <logger name="no.sesat.Product" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="PRODUCT_APPEND_ASYNC"/>
    </logger>

    <!-- Loggers involved in core initialisation of the engine -->
    <logger name="no.sesat.search.site.Site">
        <appender-ref ref="INITIALISATION_APPEND"/>
    </logger>
    <logger name="no.sesat.search.query.token.RegExpEvaluatorFactory">
        <appender-ref ref="INITIALISATION_APPEND"/>
    </logger>
    <logger name="no.sesat.search.query.token.VeryFastTokenEvaluatorFactory">
        <appender-ref ref="INITIALISATION_APPEND"/>
    </logger>
    <logger name="no.sesat.search.query.analyser.AnalysisRuleFactory">
        <appender-ref ref="INITIALISATION_APPEND"/>
    </logger>
    <logger name="no.sesat.search.mode.SearchModeFactory">
        <appender-ref ref="INITIALISATION_APPEND"/>
    </logger>
    <logger name="no.sesat.search.view.config.SearchTabFactory">
        <appender-ref ref="INITIALISATION_APPEND"/>
    </logger>
    <logger name="no.sesat.search.view.i18n.TextMessages">
        <appender-ref ref="INITIALISATION_APPEND"/>
    </logger>
    <logger name="no.sesat.search.view.velocity.VelocityEngineFactory">
        <appender-ref ref="INITIALISATION_APPEND"/>
    </logger>

    <!-- These are here to avoid their DEBUG messages flooding our logfiles -->
    <logger name="org.apache"><level value="INFO"/></logger>
    <logger name="httpclient.wire"><level value="INFO"/></logger>
    <logger name="com.opensymphony.oscache"><level value="INFO"/></logger>

    <root>
        <!-- IMPORTANT: production cannot handle writing to sesam.log at a lower threshold than WARN
          -  IMPORTANT:  setting sesam.log's appender to WARN is not enough 
          -  IMPORTANT:  so it must also be set here at the logger level.
        -->
        <level value="@log.level@"/>
        <appender-ref ref="LOG_APPEND_ASYNC"/>
    </root>
</log4j:configuration>
